<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parceiro">
                <div class="text-center">
            <h5><span jhiTranslate="mrcontadorFrontApp.parceiro.detail.title">Parceiro</span>
                {{ parceiro.parRazaosocial }}</h5>
                </div>
          
            <div class="container">
                <div class="jumbotron bg-primary">
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.par_descricao">Par Descricao</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.parDescricao }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.par_razaosocial">Par Razaosocial</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.parRazaosocial }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><span jhiTranslate="mrcontadorFrontApp.parceiro.par_tipopessoa">Par
                                Tipopessoa</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.parTipopessoa }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.par_cnpjcpf">Par Cnpjcpf</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span *ngIf="parceiro.parCnpjcpf">{{ parceiro.parCnpjcpf | mask: '00.000.000/0000-00'}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.par_rgie">Par Rgie</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.parRgie }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.par_datacadastro">Par Datacadastro</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.parDatacadastro | date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.spa_codigo">Spa Codigo</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.spaCodigo }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.logradouro">Logradouro</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.logradouro }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.cep">Cep</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span *ngIf="parceiro.cep">{{ parceiro.cep | mask: '00.000-000' }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.cidade">Cidade</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.cidade }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.estado">Estado</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.estado }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.parceiro.area_atuacao">Area Atuacao</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ parceiro.areAtuacao }}</span>
                        </div>
                    </div>                    
                </div>
                <button type="submit" (click)="previousState()" class="btn btn-info">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>

                <button type="button" [routerLink]="['/parceiro', parceiro.id, 'edit']" class="btn btn-primary">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>