
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end p-1">
        <form class="form-inline" action="">
            <input class="form-control mr-sm-2" [(ngModel)]="pesquisa" (search)="pesquisar()"  placeholder="Pesquisar..." name="pesquisar"
            type="search">
        <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear"
            style="pointer-events: auto; text-decoration: none;cursor: pointer;"></a>
            <select class="form-control mr-sm-2" (change)="onChange()" [(ngModel)]="selected" name="select">
                <option value="par_razaosocial.contains"><span
                        jhiTranslate="mrcontadorFrontApp.parceiro.par_razaosocial"></span>
                </option>
                <option value="par_cnpjcpf.contains"><span
                        jhiTranslate="mrcontadorFrontApp.parceiro.par_cnpjcpf"></span>
                </option>
            </select>
            <button id="jh-create-entity" class="btn btn-info form-control mr-sm-2" type="button"
            (click)="newParceiro()">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="mrcontadorFrontApp.parceiro.home.createLabel">
            </span>
        </button>
        </form>
    </nav>

<div class="col-12 justify-content-center">
    <div class="container">
            <jhi-alert></jhi-alert>
        <div class="card-deck mb-3 text-center" *ngIf="!parceiros || parceiros.length === 0">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="alert alert-danger" id="no-result">
                        <span jhiTranslate="mrcontadorFrontApp.parceiro.home.notFound"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mt-3" *ngIf="parceiros && parceiros.length > 0">
            <div class="col mb-4" *ngFor="let parceiro of parceiros">
                <div class="card shadow-sm h-100">
                    <div [ngClass]="parceiro?.cadastroStatus !== 4 ? 'card-header text-center bg-warning' : 'card-header text-center bg-info'">
                        <h6 class="my-0 font-weight-normal text-truncate" placement="top" ngbTooltip="{{parceiro.parRazaosocial}}">{{ parceiro.parRazaosocial }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5">
                                    <span jhiTranslate="mrcontadorFrontApp.parceiro.par_cnpjcpf"></span>
                                </div>
                                <div class="col-md-7 text-left">
                                    <span *ngIf="parceiro.parCnpjcpf">{{ parceiro.parCnpjcpf | mask: '00.000.000/0000-00'}}</span> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <span jhiTranslate="mrcontadorFrontApp.parceiro.email"></span>
                                </div>
                                <div class="col-md-7 text-left">
                                    {{ parceiro.email }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <span jhiTranslate="mrcontadorFrontApp.parceiro.telefone"></span>
                                </div>
                                <div class="col-md-7 text-left">
                                    {{ parceiro.telefone }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <span jhiTranslate="mrcontadorFrontApp.parceiro.par_datacadastro"></span>
                                </div>
                                <div class="col-md-7 text-left">
                                    {{ parceiro.parDatacadastro |  date: 'dd/MM/yyyy' }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <span jhiTranslate="mrcontadorFrontApp.parceiro.cidade"></span>
                                </div>
                                <div class="col-md-7 text-left">
                                    {{ parceiro.cidade }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <span jhiTranslate="mrcontadorFrontApp.parceiro.estado"></span>
                                </div>
                                <div class="col-md-7 text-left">
                                    {{ parceiro.estado }}
                                </div>
                            </div>
                        </div>
                   
                    </div>
                    <div class="card-footer p-0">
                        <button type="submit" (click)="selectParceiro(parceiro)" *ngIf="parceiro?.cadastroStatus === 4"
                        class="btn btn-block btn-info">
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>                    
                    <button type="submit"  *ngIf="parceiro?.cadastroStatus !== 4" (click)="newParceiro(parceiro)"
                    class="btn btn-block btn-warning">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.new"></span>
                </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="parceiros && parceiros.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
                </ngb-pagination>
        
            </div>
        </div>
        
    </div>
   




</div>