<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-parceiro-heading" jhiTranslate="mrcontadorFrontApp.parceiro.home.createOrEditLabel">Create or edit a Parceiro</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_descricao" for="field_par_descricao">Par Descricao</label>
                    <input type="text" class="form-control" name="par_descricao" id="field_par_descricao"
                           formControlName="par_descricao"/>
                    <div *ngIf="editForm.get('par_descricao')!.invalid && (editForm.get('par_descricao')!.dirty || editForm.get('par_descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('par_descricao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_razaosocial" for="field_par_razaosocial">Par Razaosocial</label>
                    <input type="text" class="form-control" name="par_razaosocial" id="field_par_razaosocial"
                           formControlName="par_razaosocial"/>
                    <div *ngIf="editForm.get('par_razaosocial')!.invalid && (editForm.get('par_razaosocial')!.dirty || editForm.get('par_razaosocial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('par_razaosocial')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 70 }">
                        This field cannot be longer than 70 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_tipopessoa" for="field_par_tipopessoa">Par Tipopessoa</label>
                    <input type="text" class="form-control" name="par_tipopessoa" id="field_par_tipopessoa"
                           formControlName="par_tipopessoa"/>
                    <div *ngIf="editForm.get('par_tipopessoa')!.invalid && (editForm.get('par_tipopessoa')!.dirty || editForm.get('par_tipopessoa')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('par_tipopessoa')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1 }">
                        This field cannot be longer than 1 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_cnpjcpf" for="field_par_cnpjcpf">Par Cnpjcpf</label>
                    <input type="text" class="form-control" name="par_cnpjcpf" id="field_par_cnpjcpf"
                           formControlName="par_cnpjcpf"/>
                    <div *ngIf="editForm.get('par_cnpjcpf')!.invalid && (editForm.get('par_cnpjcpf')!.dirty || editForm.get('par_cnpjcpf')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('par_cnpjcpf')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_rgie" for="field_par_rgie">Par Rgie</label>
                    <input type="text" class="form-control" name="par_rgie" id="field_par_rgie"
                           formControlName="par_rgie"/>
                    <div *ngIf="editForm.get('par_rgie')!.invalid && (editForm.get('par_rgie')!.dirty || editForm.get('par_rgie')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('par_rgie')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_obs" for="field_par_obs">Par Obs</label>
                    <input type="text" class="form-control" name="par_obs" id="field_par_obs"
                           formControlName="par_obs"/>
                    <div *ngIf="editForm.get('par_obs')!.invalid && (editForm.get('par_obs')!.dirty || editForm.get('par_obs')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('par_obs')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_datacadastro" for="field_par_datacadastro">Par Datacadastro</label>
                    <div class="d-flex">
                        <input id="field_par_datacadastro" type="datetime-local" class="form-control" name="par_datacadastro" formControlName="par_datacadastro" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.spa_codigo" for="field_spa_codigo">Spa Codigo</label>
                    <input type="number" class="form-control" name="spa_codigo" id="field_spa_codigo"
                           formControlName="spa_codigo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.logradouro" for="field_logradouro">Logradouro</label>
                    <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                           formControlName="logradouro"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.cep" for="field_cep">Cep</label>
                    <input type="text" class="form-control" name="cep" id="field_cep"
                           formControlName="cep"/>
                    <div *ngIf="editForm.get('cep')!.invalid && (editForm.get('cep')!.dirty || editForm.get('cep')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cep')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.cidade" for="field_cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="field_cidade"
                           formControlName="cidade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.area_atuacao" for="field_area_atuacao">Area Atuacao</label>
                    <input type="text" class="form-control" name="area_atuacao" id="field_area_atuacao"
                           formControlName="area_atuacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.comercio" for="field_comercio">Comercio</label>
                    <input type="checkbox" class="form-control" name="comercio" id="field_comercio"
                           formControlName="comercio"/>
                    <div *ngIf="editForm.get('comercio')!.invalid && (editForm.get('comercio')!.dirty || editForm.get('comercio')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comercio')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.nfc_e" for="field_nfc_e">Nfc E</label>
                    <input type="checkbox" class="form-control" name="nfc_e" id="field_nfc_e"
                           formControlName="nfc_e"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.danfe" for="field_danfe">Danfe</label>
                    <input type="checkbox" class="form-control" name="danfe" id="field_danfe"
                           formControlName="danfe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.servico" for="field_servico">Servico</label>
                    <input type="checkbox" class="form-control" name="servico" id="field_servico"
                           formControlName="servico"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.nfs_e" for="field_nfs_e">Nfs E</label>
                    <input type="checkbox" class="form-control" name="nfs_e" id="field_nfs_e"
                           formControlName="nfs_e"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.transportadora" for="field_transportadora">Transportadora</label>
                    <input type="checkbox" class="form-control" name="transportadora" id="field_transportadora"
                           formControlName="transportadora"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.conhec_transporte" for="field_conhec_transporte">Conhec Transporte</label>
                    <input type="checkbox" class="form-control" name="conhec_transporte" id="field_conhec_transporte"
                           formControlName="conhec_transporte"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.industria" for="field_industria">Industria</label>
                    <input type="checkbox" class="form-control" name="industria" id="field_industria"
                           formControlName="industria"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.ct" for="field_ct">Ct</label>
                    <input type="checkbox" class="form-control" name="ct" id="field_ct"
                           formControlName="ct"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.outras" for="field_outras">Outras</label>
                    <input type="text" class="form-control" name="outras" id="field_outras"
                           formControlName="outras"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
