
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end p-1">
        <form class="form-inline" action="">
            <input class="form-control mr-sm-2" [(ngModel)]="pesquisa" (search)="pesquisar()"  placeholder="Pesquisar..." name="pesquisar"
            type="search">
        <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear"
            style="pointer-events: auto; text-decoration: none;cursor: pointer;"></a>
            <select class="form-control mr-sm-2" (change)="onChange()" [(ngModel)]="selected" name="select">
                <option value="par_razaosocial.contains"><span
                        jhiTranslate="mrcontadorFrontApp.parceiro.par_razaosocial"></span>
                </option>
                <option value="par_cnpjcpf.contains"><span
                        jhiTranslate="mrcontadorFrontApp.parceiro.par_cnpjcpf"></span>
                </option>
            </select>
            <button id="jh-create-entity" class="btn btn-info form-control mr-sm-2" type="button"
            (click)="newParceiro()">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="mrcontadorFrontApp.parceiro.home.createLabel">
            </span>
        </button>
        </form>
    </nav>

<div class="col-12 justify-content-center">
    <div class="container">
            <jhi-alert></jhi-alert>
        <div class="card-deck mb-3 text-center" *ngIf="!inteligentStatsLines || inteligentStatsLines.length === 0">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="alert alert-danger" id="no-result">
                        <span jhiTranslate="mrcontadorFrontApp.parceiro.home.notFound"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mt-3" *ngIf="inteligentStatsLines && inteligentStatsLines.length > 0">
            <div class="col mb-4" *ngFor="let inteligentStatsLine of inteligentStatsLines">
                <div class="card shadow-sm h-100">
                    <div [ngClass]="inteligentStatsLine.parceiro?.cadastroStatus !== 4 ? 'card-header text-center bg-warning' : 'card-header text-center bg-info'">
                        <h6 class="my-0 font-weight-normal text-truncate" placement="top" ngbTooltip="{{inteligentStatsLine.parceiro.parRazaosocial}}">{{ inteligentStatsLine.parceiro.parRazaosocial }}</h6>
                    </div>
                    <div class="card-body bg-info">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12" *ngIf="inteligentStatsLine.lineChartData && inteligentStatsLine.lineChartData.length >0">
                                    <canvas baseChart class="chart"
                                    [datasets]="inteligentStatsLine.lineChartData"                                    
                                    [labels]="inteligentStatsLine.lineChartLabels || []"
                                    [options]="inteligentStatsLine.lineChartOptions"
                                    [colors]="inteligentStatsLine.lineChartColors || []"
                                    [legend]="inteligentStatsLine.lineChartLegend || false"
                                    chartType="bar"
                                   ></canvas>
                                </div>
                                <div class="col-md-12" *ngIf="!inteligentStatsLine.lineChartData || inteligentStatsLine.lineChartData.length == 0">
                                    Não existe informação disponivel
                                </div>
                            </div>
                        </div>
                   
                    </div>
                    <div class="card-footer p-0">
                        <button type="submit" (click)="selectParceiro(inteligentStatsLine.parceiro)" *ngIf="inteligentStatsLine.parceiro?.cadastroStatus === 4"
                        class="btn btn-block btn-info">
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>                    
                    <button type="submit"  *ngIf="inteligentStatsLine.parceiro?.cadastroStatus !== 4" (click)="newParceiro(inteligentStatsLine.parceiro)"
                    class="btn btn-block btn-warning">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.new"></span>
                </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="inteligentStatsLines && inteligentStatsLines.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
                </ngb-pagination>
        
            </div>
        </div>
        
    </div>
   




</div>