<div>
    <h5 id="page-heading">
            <div class="text-center">
        <span jhiTranslate="mrcontadorFrontApp.parceiro.home.title">Parceiros</span>
</div>
    </h5>
    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parceiro" [routerLink]="['/parceiro/new']">
        <fa-icon icon="plus"></fa-icon>
        <span  jhiTranslate="mrcontadorFrontApp.parceiro.home.createLabel">
        Create a new Parceiro
        </span>
    </button>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="parceiros?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.parceiro.home.notFound">No parceiros found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="parceiros && parceiros.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="par_razaosocial"><span jhiTranslate="mrcontadorFrontApp.parceiro.par_razaosocial">Par Razaosocial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="par_tipopessoa"><span jhiTranslate="mrcontadorFrontApp.parceiro.par_tipopessoa">Par Tipopessoa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="par_cnpjcpf"><span jhiTranslate="mrcontadorFrontApp.parceiro.par_cnpjcpf">Par Cnpjcpf</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="par_rgie"><span jhiTranslate="mrcontadorFrontApp.parceiro.par_rgie">Par Rgie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="par_datacadastro"><span jhiTranslate="mrcontadorFrontApp.parceiro.par_datacadastro">Par Datacadastro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spa_codigo"><span jhiTranslate="mrcontadorFrontApp.parceiro.spa_codigo">Spa Codigo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cep"><span jhiTranslate="mrcontadorFrontApp.parceiro.cep">Cep</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cidade"><span jhiTranslate="mrcontadorFrontApp.parceiro.cidade">Cidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="mrcontadorFrontApp.parceiro.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parceiro of parceiros ;trackBy: trackId">
                    <td>{{ parceiro.par_razaosocial }}</td>
                    <td>{{ parceiro.par_tipopessoa }}</td>
                    <td>{{ parceiro.par_cnpjcpf }}</td>
                    <td>{{ parceiro.par_rgie }}</td>
                    <td>{{ parceiro.par_datacadastro |  date: 'dd/MM/yyyy' }}</td>
                    <td>{{ parceiro.spa_codigo }}</td>
                    <td>{{ parceiro.cep }}</td>
                    <td>{{ parceiro.cidade }}</td>
                    <td>{{ parceiro.estado }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/parceiro', parceiro.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/parceiro', parceiro.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(parceiro)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="parceiros && parceiros.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
