<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="text-center">
                <h5 id="jhi-parceiro-heading" jhiTranslate="mrcontadorFrontApp.parceiro.home.createOrEditLabel">Create
                    or edit a Parceiro</h5>
            </div>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="true">
                    <input type="text" class="form-control" id="id" name="id" formControlName="parTipopessoa"
                        readonly />
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_razaosocial"
                            for="field_par_razaosocial">Par Razaosocial</label>
                        <input type="text" class="form-control" name="par_razaosocial" id="field_par_razaosocial"
                            formControlName="parRazaosocial" />
                        <div
                            *ngIf="editForm.get('par_razaosocial')!.invalid && (editForm.get('par_razaosocial')!.dirty || editForm.get('par_razaosocial')!.touched)">
                            <small class="form-text text-danger"
                                *ngIf="editForm.get('par_razaosocial')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 70 }">
                                This field cannot be longer than 70 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.tipopessoa"
                            for="field_juridica"></label>
                        <select id="field_juridica" name="field_juridica" class="form-control custom-select"
                            (change)="onChange()" formControlName="pessoafisica">
                            <option [ngValue]="_false"><span jhiTranslate="mrcontadorFrontApp.contador.juridica"></span>
                            </option>
                            <option [ngValue]="_true"><span jhiTranslate="mrcontadorFrontApp.contador.fisica"></span>
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_cnpjcpf"
                            for="field_par_cnpjcpf">Par Cnpjcpf</label>
                        <input type="text" class="form-control" [mask]="mask" [showMaskTyped]="true" name="par_cnpjcpf"
                            id="field_par_cnpjcpf" (blur)="onCnpj()" (keyup.enter)="onCnpj()"
                            formControlName="par_cnpjcpf" />
                        <div
                            *ngIf="editForm.get('par_cnpjcpf')!.invalid && (editForm.get('par_cnpjcpf')!.dirty || editForm.get('par_cnpjcpf')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('par_cnpjcpf')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                                This field cannot be longer than 20 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_rgie"
                            for="field_par_rgie">Par Rgie</label>
                        <input type="text" class="form-control" name="par_rgie" id="field_par_rgie"
                            formControlName="parRgie" />
                        <div
                            *ngIf="editForm.get('par_rgie')!.invalid && (editForm.get('par_rgie')!.dirty || editForm.get('par_rgie')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('par_rgie')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                                This field cannot be longer than 20 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.spa_codigo"
                            for="field_spa_codigo">Spa Codigo</label>
                        <input type="number" class="form-control" name="spa_codigo" id="field_spa_codigo"
                            formControlName="spaCodigo" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.cep"
                            for="field_cep">Cep</label>
                        <input type="text" class="form-control" (blur)="onCep()" name="cep" id="field_cep"
                            mask="00.000-000" formControlName="cep" />
                        <div
                            *ngIf="editForm.get('cep')!.invalid && (editForm.get('cep')!.dirty || editForm.get('cep')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('cep')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                                This field cannot be longer than 8 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-9">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.logradouro"
                            for="field_logradouro">Logradouro</label>
                        <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                            formControlName="logradouro" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.cidade"
                            for="field_cidade">Cidade</label>
                        <input type="text" class="form-control" name="cidade" id="field_cidade"
                            formControlName="cidade" />
                    </div>

                    <div class="form-group col-md-3">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.estado"
                            for="field_estado">Estado</label>
                        <input type="text" class="form-control" name="estado" id="field_estado"
                            formControlName="estado" />
                    </div>

                    <div class="form-group col-md-3">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.area_atuacao"
                            for="field_area_atuacao">Area Atuacao</label>
                        <input type="text" class="form-control" name="area_atuacao" id="field_area_atuacao"
                            formControlName="areaAtuacao" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_descricao"
                            for="field_par_descricao">Par Descricao</label>
                        <textarea type="text" class="form-control" name="par_descricao" id="field_par_descricao"
                            formControlName="parDescricao"></textarea>
                        <div
                            *ngIf="editForm.get('par_descricao')!.invalid && (editForm.get('par_descricao')!.dirty || editForm.get('par_descricao')!.touched)">
                            <small class="form-text text-danger"
                                *ngIf="editForm.get('par_descricao')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                This field cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.parceiro.par_obs"
                            for="field_par_obs">Par Obs</label>
                        <textarea type="text" class="form-control" name="par_obs" id="field_par_obs"
                            formControlName="parObs"></textarea>
                        <div
                            *ngIf="editForm.get('par_obs')!.invalid && (editForm.get('par_obs')!.dirty || editForm.get('par_obs')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('par_obs')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                                This field cannot be longer than 200 characters.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>