<div class="row justify-content-center">
    <div class="col-md-8">
        <div *ngIf="banco">
            <div class="text-center">
                <h5>{{ banco?.banDescricao }}</h5>
            </div>

            <jhi-alert-error></jhi-alert-error>
            <div class="container">
                <div class="jumbotron bg-primary">
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.banco.ban_descricao"></span>:
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ banco?.banDescricao }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.banco.ban_codigobancario">Ban Codigobancario</span>:
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ banco?.banCodigobancario }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.banco.ban_sigla">Ban Sigla</span>:
                         </div>
                        <div class="col-md-9 text-left">
                            <span>{{ banco?.banSigla }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.banco.ban_ispb">Ban Ispb</span>:
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ banco?.banIspb }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" (click)="previousState()" class="btn btn-info">
                            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span
                                jhiTranslate="entity.action.back">Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>