<div>
    <h2 id="page-heading">
        <span jhiTranslate="mrcontadorFrontApp.atividade.home.title">Atividades</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-atividade" [routerLink]="['/atividade/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mrcontadorFrontApp.atividade.home.createLabel">
            Create a new Atividade
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="atividades?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.atividade.home.notFound">No atividades found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="atividades && atividades.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mrcontadorFrontApp.atividade.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="mrcontadorFrontApp.atividade.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="mrcontadorFrontApp.atividade.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parceiro.id"><span jhiTranslate="mrcontadorFrontApp.atividade.parceiro">Parceiro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let atividade of atividades ;trackBy: trackId">
                    <td><a [routerLink]="['/atividade', atividade.id, 'view']">{{ atividade.id }}</a></td>
                    <td>{{ atividade.descricao }}</td>
                    <td>{{ atividade.code }}</td>
                    <td>{{ atividade.tipo }}</td>
                    <td>
                        <div *ngIf="atividade.parceiro">
                            <a [routerLink]="['/parceiro', atividade.parceiro?.id, 'view']" >{{ atividade.parceiro?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/atividade', atividade.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/atividade', atividade.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(atividade)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="atividades && atividades.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
