<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agenciabancaria">
            <h2><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.detail.title">Agenciabancaria</span> {{ agenciabancaria.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_numero">Age Numero</span></dt>
                <dd>
                    <span>{{ agenciabancaria.age_numero }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_digito">Age Digito</span></dt>
                <dd>
                    <span>{{ agenciabancaria.age_digito }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_agencia">Age Agencia</span></dt>
                <dd>
                    <span>{{ agenciabancaria.age_agencia }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_descricao">Age Descricao</span></dt>
                <dd>
                    <span>{{ agenciabancaria.age_descricao }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_situacao">Age Situacao</span></dt>
                <dd>
                    <span>{{ agenciabancaria.age_situacao }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.banco">Banco</span></dt>
                <dd>
                    <div *ngIf="agenciabancaria.bancoId">
                        <a [routerLink]="['/banco', agenciabancaria.bancoId, 'view']">{{ agenciabancaria.bancoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.parceiro">Parceiro</span></dt>
                <dd>
                    <div *ngIf="agenciabancaria.parceiroId">
                        <a [routerLink]="['/parceiro', agenciabancaria.parceiroId, 'view']">{{ agenciabancaria.parceiroId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agenciabancaria', agenciabancaria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
