<div class="col-12 justify-content-center">
                <h5 id="page-heading">
                    <div class="text-center">
                            <span jhiTranslate="mrcontadorFrontApp.agenciabancaria.home.title"></span>
                    </div>
                </h5>
                <div class="row">
                    <div class="col align-self-end">
                            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agenciabancaria" [routerLink]="['/agenciabancaria/new']">
                                <fa-icon icon="plus"></fa-icon>
                                <span  jhiTranslate="mrcontadorFrontApp.agenciabancaria.home.createLabel">
                                </span>
                            </button>
                    </div>       
                </div>
                <hr/>    

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="agenciabancarias?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.agenciabancaria.home.notFound">No agenciabancarias found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="agenciabancarias && agenciabancarias.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="age_numero"><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_numero">Age Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age_digito"><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_digito">Age Digito</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age_agencia"><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_agencia">Age Agencia</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age_descricao"><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_descricao">Age Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age_situacao"><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_situacao">Age Situacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bancoId"><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.banco">Banco</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parceiroId"><span jhiTranslate="mrcontadorFrontApp.agenciabancaria.parceiro">Parceiro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agenciabancaria of agenciabancarias ;trackBy: trackId">
                    <td>{{ agenciabancaria.ageNumero }}</td>
                    <td>{{ agenciabancaria.ageDigito }}</td>
                    <td>{{ agenciabancaria.ageAgencia }}</td>
                    <td>{{ agenciabancaria.ageDescricao }}</td>
                    <td><input type="checkbox" [(ngModel)]="agenciabancaria.ageSituacao" readonly></td>
                    <td>
                        <div *ngIf="agenciabancaria.banco">
                            <a [routerLink]="['/banco', agenciabancaria.banco.id , 'view']" >{{ agenciabancaria.banco?.banDescricao }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="agenciabancaria.parceiro">
                            <a [routerLink]="['/parceiro', agenciabancaria.parceiro.id , 'view']" >{{ agenciabancaria.parceiro?.parRazaosocial }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/agenciabancaria', agenciabancaria.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/agenciabancaria', agenciabancaria.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(agenciabancaria)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="agenciabancarias && agenciabancarias.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
