<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="text-center">
                <h5 id="jhi-agenciabancaria-heading"
                    jhiTranslate="mrcontadorFrontApp.agenciabancaria.home.createOrEditLabel">Create or edit a
                    Agenciabancaria</h5>
            </div>
            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-row">
                    <fieldset class="form-inline">
                        <div class="form-group col-md-6">
                            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.agenciabancaria.banco"
                                for="field_banco">Banco</label>
                            <input id="field_banco" type="text" class="form-control mx-sm-3"
                                [class.is-invalid]="searchFailed" formControlName="bancoId"
                                [resultFormatter]="resultFormatBandListValue"
                                [inputFormatter]="inputFormatBandListValue" [ngbTypeahead]="search"
                                placeholder="Pesquisar o banco" [editable]='false'/>
                            <small *ngIf="searching" class="form-text text-muted">pesquisando...</small>
                            <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.
                            </div>

                            <div
                                *ngIf="editForm.get('bancoId')!.invalid && (editForm.get('bancoId')!.dirty || editForm.get('bancoId')!.touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('bancoId')?.errors?.required"
                                    jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.agenciabancaria.parceiro"
                            for="field_parceiro">Parceiro</label>
                        <select class="form-control" id="field_parceiro" name="parceiro" formControlName="parceiroId">
                            <option *ngIf="!editForm.get('parceiroId')!.value" [ngValue]="null" selected></option>
                            <option [ngValue]="parceiroOption.id"
                                *ngFor="let parceiroOption of parceiros; trackBy: trackById">
                                {{ parceiroOption.par_razaosocial }}</option>
                        </select>

                        <div
                            *ngIf="editForm.get('parceiroId')!.invalid && (editForm.get('parceiroId')!.dirty || editForm.get('parceiroId')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('parceiroId')?.errors?.required"
                                jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_agencia"
                            for="field_age_agencia">Age Agencia</label>
                        <input type="text" class="form-control" name="age_agencia" id="field_age_agencia"
                            formControlName="age_agencia" />
                        <div
                            *ngIf="editForm.get('age_agencia')!.invalid && (editForm.get('age_agencia')!.dirty || editForm.get('age_agencia')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('age_agencia')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 6 }">
                                This field cannot be longer than 6 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_numero"
                            for="field_age_numero">Age Numero</label>
                        <input type="text" class="form-control" name="age_numero" id="field_age_numero"
                            formControlName="age_numero" />
                        <div
                            *ngIf="editForm.get('age_numero')!.invalid && (editForm.get('age_numero')!.dirty || editForm.get('age_numero')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('age_numero')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                                This field cannot be longer than 20 characters.
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-md-1">
                        <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_digito"
                            for="field_age_digito">Age Digito</label>
                        <input type="text" class="form-control" name="age_digito" id="field_age_digito"
                            formControlName="age_digito" />
                        <div
                            *ngIf="editForm.get('age_digito')!.invalid && (editForm.get('age_digito')!.dirty || editForm.get('age_digito')!.touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('age_digito')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                                This field cannot be longer than 20 characters.
                            </small>
                        </div>
                    </div>



                    <div class="form-group col-md-5">
                        <label class="form-control-label"
                            jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_descricao"
                            for="field_age_descricao">Age Descricao</label>
                        <input type="text" class="form-control" name="age_descricao" id="field_age_descricao"
                            formControlName="age_descricao" />
                        <div
                            *ngIf="editForm.get('age_descricao')!.invalid && (editForm.get('age_descricao')!.dirty || editForm.get('age_descricao')!.touched)">
                            <small class="form-text text-danger"
                                *ngIf="editForm.get('age_descricao')?.errors?.maxlength"
                                jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                                This field cannot be longer than 30 characters.
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label class="form-control-label" ngbButtonLabel for="field_age_situacao">
                            <span jhiTranslate="mrcontadorFrontApp.agenciabancaria.age_situacao"></span>
                            <input type="checkbox" class="form-control" ngbButton name="age_situacao"
                                id="field_age_situacao" formControlName="age_situacao" />
                        </label>
                    </div>
                </div>


            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>