<div>
    <h2 id="page-heading">
        <span jhiTranslate="mrcontadorFrontApp.arquivo.home.title">Arquivos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arquivo" [routerLink]="['/arquivo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mrcontadorFrontApp.arquivo.home.createLabel">
            Create a new Arquivo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="arquivos?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.arquivo.home.notFound">No arquivos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="arquivos && arquivos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="mrcontadorFrontApp.arquivo.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomeOriginal"><span jhiTranslate="mrcontadorFrontApp.arquivo.nomeOriginal">Nome Original</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataCadastro"><span jhiTranslate="mrcontadorFrontApp.arquivo.dataCadastro">Data Cadastro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoArquivo"><span jhiTranslate="mrcontadorFrontApp.arquivo.tipoArquivo">Tipo Arquivo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoDoc"><span jhiTranslate="mrcontadorFrontApp.arquivo.tipoDoc">Tipo Doc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="s3Url"><span jhiTranslate="mrcontadorFrontApp.arquivo.s3Url">S 3 Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="s3Dir"><span jhiTranslate="mrcontadorFrontApp.arquivo.s3Dir">S 3 Dir</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tamanho"><span jhiTranslate="mrcontadorFrontApp.arquivo.tamanho">Tamanho</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etag"><span jhiTranslate="mrcontadorFrontApp.arquivo.etag">Etag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usuario"><span jhiTranslate="mrcontadorFrontApp.arquivo.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parceiro.id"><span jhiTranslate="mrcontadorFrontApp.arquivo.parceiro">Parceiro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let arquivo of arquivos ;trackBy: trackId">
                    <td><a [routerLink]="['/arquivo', arquivo.id, 'view']">{{ arquivo.id }}</a></td>
                    <td>{{ arquivo.nome }}</td>
                    <td>{{ arquivo.nomeOriginal }}</td>
                    <td>{{ arquivo.dataCadastro | date:'medium' }}</td>
                    <td>{{ arquivo.tipoArquivo }}</td>
                    <td>{{ arquivo.tipoDoc }}</td>
                    <td>{{ arquivo.s3Url }}</td>
                    <td>{{ arquivo.s3Dir }}</td>
                    <td>{{ arquivo.tamanho }}</td>
                    <td>{{ arquivo.etag }}</td>
                    <td>{{ arquivo.usuario }}</td>
                    <td>
                        <div *ngIf="arquivo.parceiro">
                            <a [routerLink]="['/parceiro', arquivo.parceiro?.id, 'view']" >{{ arquivo.parceiro?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/arquivo', arquivo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/arquivo', arquivo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(arquivo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="arquivos && arquivos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
