

<div class="table-responsive" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
        <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="con_conta"><span jhiTranslate="mrcontadorFrontApp.conta.con_conta">Con
                        Conta</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th  scope="col" jhiSortBy="con_classificacao"><span
                        jhiTranslate="mrcontadorFrontApp.conta.con_classificacao">Con Classificacao</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th  scope="col" jhiSortBy="con_tipo"><span jhiTranslate="mrcontadorFrontApp.conta.con_tipo">Con
                        Tipo</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th  scope="col" jhiSortBy="con_descricao"><span
                        jhiTranslate="mrcontadorFrontApp.conta.con_descricao">Con Descricao</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="con_cnpj"><span jhiTranslate="mrcontadorFrontApp.conta.con_cnpj">Con
                        Cnpj</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th  scope="col" jhiSortBy="con_grau"><span jhiTranslate="mrcontadorFrontApp.conta.con_grau">Con
                        Grau</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="alert alert-warning" *ngIf="contas?.length === 0">
                <td colspan="6">
                    <span jhiTranslate="mrcontadorFrontApp.conta.home.notFound"></span>
                </td>
            </tr>
            <tr *ngFor="let conta of contas">
                <td>{{ conta.con_conta }}</td>
                <td>{{ conta.con_classificacao }}</td>
                <td>{{ conta.con_tipo }}</td>
                <td>{{ conta.con_descricao }}</td>
                <td>{{ conta.con_cnpj }}</td>
                <td>{{ conta.con_grau }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="contas && contas.length > 0">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
            [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>

