<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inteligent">
            <h2><span jhiTranslate="mrcontadorFrontApp.inteligent.detail.title">Inteligent</span> {{ inteligent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.historico">Historico</span></dt>
                <dd>
                    <span>{{ inteligent.historico }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.historicofinal">Historicofinal</span></dt>
                <dd>
                    <span>{{ inteligent.historicofinal }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.datalancamento">Datalancamento</span></dt>
                <dd>
                    <span>{{ inteligent.datalancamento }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.associado">Associado</span></dt>
                <dd>
                    <span>{{ inteligent.associado }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.periodo">Periodo</span></dt>
                <dd>
                    <span>{{ inteligent.periodo }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.debito">Debito</span></dt>
                <dd>
                    <span>{{ inteligent.debito }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.credito">Credito</span></dt>
                <dd>
                    <span>{{ inteligent.credito }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.datainicio">Datainicio</span></dt>
                <dd>
                    <span>{{ inteligent.datainicio }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.datafim">Datafim</span></dt>
                <dd>
                    <span>{{ inteligent.datafim }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{ inteligent.cnpj }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.beneficiario">Beneficiario</span></dt>
                <dd>
                    <span>{{ inteligent.beneficiario }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.comprovante">Comprovante</span></dt>
                <dd>
                    <div *ngIf="inteligent.comprovante">
                        <a [routerLink]="['/comprovante', inteligent.comprovante?.id, 'view']">{{ inteligent.comprovante?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.parceiro">Parceiro</span></dt>
                <dd>
                    <div *ngIf="inteligent.parceiro">
                        <a [routerLink]="['/parceiro', inteligent.parceiro?.id, 'view']">{{ inteligent.parceiro?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.notafiscal">Notafiscal</span></dt>
                <dd>
                    <div *ngIf="inteligent.notafiscal">
                        <a [routerLink]="['/notafiscal', inteligent.notafiscal?.id, 'view']">{{ inteligent.notafiscal?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.notaservico">Notaservico</span></dt>
                <dd>
                    <div *ngIf="inteligent.notaservico">
                        <a [routerLink]="['/notaservico', inteligent.notaservico?.id, 'view']">{{ inteligent.notaservico?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.parceiro">Parceiro</span></dt>
                <dd>
                    <div *ngIf="inteligent.parceiro">
                        <a [routerLink]="['/parceiro', inteligent.parceiro?.id, 'view']">{{ inteligent.parceiro?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.inteligent.agenciabancaria">Agenciabancaria</span></dt>
                <dd>
                    <div *ngIf="inteligent.agenciabancaria">
                        <a [routerLink]="['/agenciabancaria', inteligent.agenciabancaria?.id, 'view']">{{ inteligent.agenciabancaria?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
</div>
