<div>
    <h2 id="page-heading">
        <span jhiTranslate="mrcontadorFrontApp.regra.home.title">Regras</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-regra" [routerLink]="['/regra/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mrcontadorFrontApp.regra.home.createLabel">
            Create a new Regra
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="regras?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.regra.home.notFound">No regras found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="regras && regras.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="par_codigo"><span jhiTranslate="mrcontadorFrontApp.regra.par_codigo">Par Codigo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reg_descricao"><span jhiTranslate="mrcontadorFrontApp.regra.reg_descricao">Reg Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reg_conta"><span jhiTranslate="mrcontadorFrontApp.regra.reg_conta">Reg Conta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reg_historico"><span jhiTranslate="mrcontadorFrontApp.regra.reg_historico">Reg Historico</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reg_todos"><span jhiTranslate="mrcontadorFrontApp.regra.reg_todos">Reg Todos</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let regra of regras ;trackBy: trackId">
                    <td><a [routerLink]="['/regra', regra.id, 'view']">{{ regra.id }}</a></td>
                    <td>{{ regra.par_codigo }}</td>
                    <td>{{ regra.reg_descricao }}</td>
                    <td>{{ regra.reg_conta }}</td>
                    <td>{{ regra.reg_historico }}</td>
                    <td>{{ regra.reg_todos }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/regra', regra.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/regra', regra.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(regra)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="regras && regras.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
