<div class="col-12 justify-content-center">
    <h5 id="page-heading">
            <div class="text-center">
                    <span jhiTranslate="mrcontadorFrontApp.comprovante.home.title"></span>
            </div>
        </h5>
        <div class="row">
            <div class="col align-self-end">
                    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comprovante" [routerLink]="['/comprovante/new']">
                        <fa-icon icon="plus"></fa-icon>
                        <span  jhiTranslate="mrcontadorFrontApp.comprovante.home.createLabel">
                        Create a new Comprovante
                        </span>
                    </button>
            </div>       
        </div>
        <hr/>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="comprovantes?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.comprovante.home.notFound">No comprovantes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="comprovantes && comprovantes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="par_codigo"><span jhiTranslate="mrcontadorFrontApp.comprovante.par_codigo">Par Codigo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age_codigo"><span jhiTranslate="mrcontadorFrontApp.comprovante.age_codigo">Age Codigo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="com_cnpj"><span jhiTranslate="mrcontadorFrontApp.comprovante.com_cnpj">Com Cnpj</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="com_beneficiario"><span jhiTranslate="mrcontadorFrontApp.comprovante.com_beneficiario">Com Beneficiario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="com_documento"><span jhiTranslate="mrcontadorFrontApp.comprovante.com_documento">Com Documento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="com_datavencimento"><span jhiTranslate="mrcontadorFrontApp.comprovante.com_datavencimento">Com Datavencimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="com_datapagamento"><span jhiTranslate="mrcontadorFrontApp.comprovante.com_datapagamento">Com Datapagamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="com_valordocumento"><span jhiTranslate="mrcontadorFrontApp.comprovante.com_valordocumento">Com Valordocumento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="com_valorpagamento"><span jhiTranslate="mrcontadorFrontApp.comprovante.com_valorpagamento">Com Valorpagamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="com_observacao"><span jhiTranslate="mrcontadorFrontApp.comprovante.com_observacao">Com Observacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comprovante of comprovantes ;trackBy: trackId">
                    <td><a [routerLink]="['/comprovante', comprovante.id, 'view']">{{ comprovante.id }}</a></td>
                    <td>{{ comprovante.parCodigo }}</td>
                    <td>{{ comprovante.ageCodigo }}</td>
                    <td>{{ comprovante.comCnpj }}</td>
                    <td>{{ comprovante.comBeneficiario }}</td>
                    <td>{{ comprovante.comDocumento }}</td>
                    <td>{{ comprovante.comDatavencimento | date:'medium' }}</td>
                    <td>{{ comprovante.comDatapagamento | date:'medium' }}</td>
                    <td>{{ comprovante.comValordocumento }}</td>
                    <td>{{ comprovante.comValorpagamento }}</td>
                    <td>{{ comprovante.comObservacao }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comprovante', comprovante.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comprovante', comprovante.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(comprovante)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="comprovantes && comprovantes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
