<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comprovante">
            <h2><span jhiTranslate="mrcontadorFrontApp.comprovante.detail.title">Comprovante</span> {{ comprovante.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.par_codigo">Par Codigo</span></dt>
                <dd>
                    <span>{{ comprovante.parCodigo }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.age_codigo">Age Codigo</span></dt>
                <dd>
                    <span>{{ comprovante.ageCodigo }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.com_cnpj">Com Cnpj</span></dt>
                <dd>
                    <span>{{ comprovante.comCnpj }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.com_beneficiario">Com Beneficiario</span></dt>
                <dd>
                    <span>{{ comprovante.comBeneficiario }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.com_documento">Com Documento</span></dt>
                <dd>
                    <span>{{ comprovante.comDocumento }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.com_datavencimento">Com Datavencimento</span></dt>
                <dd>
                    <span>{{ comprovante.comDatavencimento }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.com_datapagamento">Com Datapagamento</span></dt>
                <dd>
                    <span>{{ comprovante.comDatapagamento }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.com_valordocumento">Com Valordocumento</span></dt>
                <dd>
                    <span>{{ comprovante.comValordocumento }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.com_valorpagamento">Com Valorpagamento</span></dt>
                <dd>
                    <span>{{ comprovante.comValorpagamento }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.comprovante.com_observacao">Com Observacao</span></dt>
                <dd>
                    <span>{{ comprovante.comObservacao }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comprovante', comprovante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
