<div class="col-12 justify-content-center">
            <h5 id="page-heading">
                <div class="text-center">
                        <span jhiTranslate="mrcontadorFrontApp.extrato.home.title"></span>
                </div>
            </h5>
            <div class="row">
                <div class="col align-self-end">
                        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-extrato" [routerLink]="['/extrato/new']">
                            <fa-icon icon="plus"></fa-icon>
                            <span  jhiTranslate="mrcontadorFrontApp.extrato.home.createLabel">
                            </span>
                        </button>
                </div>       
            </div>
            <hr/>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="extratoes?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.extrato.home.notFound">No extratoes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="extratoes && extratoes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ext_datalancamento"><span jhiTranslate="mrcontadorFrontApp.extrato.ext_datalancamento">Ext Datalancamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ext_historico"><span jhiTranslate="mrcontadorFrontApp.extrato.ext_historico">Ext Historico</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ext_numerodocumento"><span jhiTranslate="mrcontadorFrontApp.extrato.ext_numerodocumento">Ext Numerodocumento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ext_numerocontrole"><span jhiTranslate="mrcontadorFrontApp.extrato.ext_numerocontrole">Ext Numerocontrole</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ext_debito"><span jhiTranslate="mrcontadorFrontApp.extrato.ext_debito">Ext Debito</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ext_credito"><span jhiTranslate="mrcontadorFrontApp.extrato.ext_credito">Ext Credito</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ext_descricao"><span jhiTranslate="mrcontadorFrontApp.extrato.ext_descricao">Ext Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parceiroId"><span jhiTranslate="mrcontadorFrontApp.extrato.parceiro">Parceiro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agenciabancariaId"><span jhiTranslate="mrcontadorFrontApp.extrato.agenciabancaria">Agenciabancaria</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let extrato of extratoes ;trackBy: trackId">
                    <td><a [routerLink]="['/extrato', extrato.id, 'view']">{{ extrato.id }}</a></td>
                    <td>{{ extrato.extDatalancamento | date:'medium' }}</td>
                    <td>{{ extrato.extHistorico }}</td>
                    <td>{{ extrato.extNumerodocumento }}</td>
                    <td>{{ extrato.extNumerocontrole }}</td>
                    <td>{{ extrato.extDebito }}</td>
                    <td>{{ extrato.extCredito }}</td>
                    <td>{{ extrato.extDescricao }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/extrato', extrato.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/extrato', extrato.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(extrato)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="extratoes && extratoes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
