<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="arquivoerro">
            <h2><span jhiTranslate="mrcontadorFrontApp.arquivoerro.detail.title">Arquivoerro</span> {{ arquivoerro.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.nome">Nome</span></dt>
                <dd>
                    <span>{{ arquivoerro.nome }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.nomeOriginal">Nome Original</span></dt>
                <dd>
                    <span>{{ arquivoerro.nomeOriginal }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.tipoArquivo">Tipo Arquivo</span></dt>
                <dd>
                    <span>{{ arquivoerro.tipoArquivo }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.s3Url">S 3 Url</span></dt>
                <dd>
                    <span>{{ arquivoerro.s3Url }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.s3Dir">S 3 Dir</span></dt>
                <dd>
                    <span>{{ arquivoerro.s3Dir }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.dataCadastro">Data Cadastro</span></dt>
                <dd>
                    <span>{{ arquivoerro.dataCadastro }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.usuario">Usuario</span></dt>
                <dd>
                    <span>{{ arquivoerro.usuario }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.contador">Contador</span></dt>
                <dd>
                    <span>{{ arquivoerro.contador }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.arquivoerro.tamanho">Tamanho</span></dt>
                <dd>
                    <span>{{ arquivoerro.tamanho }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/arquivoerro', arquivoerro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
