<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contador-heading" jhiTranslate="mrcontadorFrontApp.contador.home.createOrEditLabel">Create or edit a Contador</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.razao" for="field_razao">Razao</label>
                    <input type="text" class="form-control" name="razao" id="field_razao"
                           formControlName="razao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.fantasia" for="field_fantasia">Fantasia</label>
                    <input type="text" class="form-control" name="fantasia" id="field_fantasia"
                           formControlName="fantasia"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.telefones" for="field_telefones">Telefones</label>
                    <input type="text" class="form-control" name="telefones" id="field_telefones"
                           formControlName="telefones"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.datasource" for="field_datasource">Datasource</label>
                    <input type="text" class="form-control" name="datasource" id="field_datasource"
                           formControlName="datasource"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.cnpj" for="field_cnpj">Cnpj</label>
                    <input type="text" class="form-control" name="cnpj" id="field_cnpj"
                           formControlName="cnpj"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.cidade" for="field_cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="field_cidade"
                           formControlName="cidade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.cep" for="field_cep">Cep</label>
                    <input type="text" class="form-control" name="cep" id="field_cep"
                           formControlName="cep"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.contador.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
