<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contador">

            <h5><span jhiTranslate="mrcontadorFrontApp.contador.detail.title">Contador</span> {{ contador.razao }}</h5>

            <hr>

            <jhi-alert-error></jhi-alert-error>
            <div class="container">
                <div class="jumbotron bg-primary">
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.razao">Razao</span></dt>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.razao }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.fantasia">Fantasia</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.fantasia }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.telefones">Telefones</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.telefones }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.datasource">Datasource</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.datasource }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.cnpj">Cnpj</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.cnpj }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.cidade">Cidade</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.cidade }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.estado">Estado</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.estado }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.cep">Cep</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.cep }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span jhiTranslate="mrcontadorFrontApp.contador.email">Email</span>
                        </div>
                        <div class="col-md-9 text-left">
                            <span>{{ contador.email }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/contador', contador.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

        </div>
    </div>
</div>