<div>
    <h2 id="page-heading">
        <span jhiTranslate="mrcontadorFrontApp.contador.home.title">Contadores</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contador" [routerLink]="['/contador/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mrcontadorFrontApp.contador.home.createLabel">
            Create a new Contador
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contadors?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.contador.home.notFound">No contadors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contadors && contadors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="razao"><span jhiTranslate="mrcontadorFrontApp.contador.razao">Razao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fantasia"><span jhiTranslate="mrcontadorFrontApp.contador.fantasia">Fantasia</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefones"><span jhiTranslate="mrcontadorFrontApp.contador.telefones">Telefones</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datasource"><span jhiTranslate="mrcontadorFrontApp.contador.datasource">Datasource</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cnpj"><span jhiTranslate="mrcontadorFrontApp.contador.cnpj">Cnpj</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cidade"><span jhiTranslate="mrcontadorFrontApp.contador.cidade">Cidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="mrcontadorFrontApp.contador.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cep"><span jhiTranslate="mrcontadorFrontApp.contador.cep">Cep</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="mrcontadorFrontApp.contador.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contador of contadors ;trackBy: trackId">
                    <td><a [routerLink]="['/contador', contador.id, 'view']">{{ contador.id }}</a></td>
                    <td>{{ contador.razao }}</td>
                    <td>{{ contador.fantasia }}</td>
                    <td>{{ contador.telefones}}</td>
                    <td>{{ contador.datasource }}</td>
                    <td>{{ contador.cnpj }}</td>
                    <td>{{ contador.cidade }}</td>
                    <td>{{ contador.estado }}</td>
                    <td>{{ contador.cep }}</td>
                    <td>{{ contador.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contador', contador.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contador', contador.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contador)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contadors && contadors.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
