<div class="card">
    <div class="card-header bg-primary text-center text-light">
        <span
        jhiTranslate="mrcontadorFrontApp.onboard.nfe"></span>
    </div>
    <nav class="navbar navbar-expand-lg bg-secondary justify-content-end border border-secondary p-1">
        <form class="form-inline" action="">
            <label class="mr-sm-2" for="field_mes">Mês</label>
            <select id="field_mes" [(ngModel)]="mesSelected" class="form-control mr-sm-2" name="field_mes"
                (change)="onChangeMes()">
                <option> </option>
                <option *ngFor="let id of meses" [ngValue]="id">
                    {{ mesLabels[id] }}
                </option>
            </select>
            <label class="mr-sm-2" for="field_ano">Ano</label>
            <select id="field_ano" [(ngModel)]="anoSelected" class="form-control mr-sm-2" name="field_ano"
                (change)="onChangeAno()">
                <option> </option>
                <option *ngFor="let ano of anos" [ngValue]="ano">
                    {{ ano }}
                </option>
            </select>
            <button class="btn btn-primary" (click)="upload()">
                <fa-icon icon="cloud-upload-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.upload"></span>
            </button>
        </form>
    </nav>
    <div class="card-body">
<jhi-alert></jhi-alert>


<div class="table-responsive" id="entities">
    <table class="table table-sm table-striped" aria-describedby="page-heading">
        <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          
            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_numero">Not
                    Numero</span>
              
            </th>
            <th scope="col"><span
                    jhiTranslate="mrcontadorFrontApp.notafiscal.not_descricao">Not Descricao</span>
            </th>
            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_cnpj">Not
                    Cnpj</span>
            </th>
            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_empresa">Not
                    Empresa</span>
            </th>
            <th scope="col" jhiSortBy="notDatasaida"><span
                    jhiTranslate="mrcontadorFrontApp.notafiscal.not_datasaida">Not Datasaida</span>
                <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"><span
                    jhiTranslate="mrcontadorFrontApp.notafiscal.not_valornota">Not Valornota</span>
            </th>
            <th scope="col"><span
                    jhiTranslate="mrcontadorFrontApp.notafiscal.not_dataparcela">Not Dataparcela</span>
            </th>
            <th scope="col"><span
                    jhiTranslate="mrcontadorFrontApp.notafiscal.not_valornota">Not Valorparcela</span>
            </th>
            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_parcela">Not
                    Parcela</span>
            </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="notafiscals?.length === 0">
                <td colspan="13">
                    <div class="alert alert-light text-center" id="no-result">
                        <span jhiTranslate="mrcontadorFrontApp.notafiscal.home.notFound">No notafiscals found</span>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let notafiscal of notafiscals ;trackBy: trackId">
                <td><a  *ngIf="notafiscal.arquivoPDF" (click)="download(notafiscal)" target="_blank" ><span class="font-weight-normal text-truncate text-info" >
                    <u placement="top" ngbTooltip="Click para Visualizar documento">{{ notafiscal.notNumero }}</u></span>
                    <fa-icon icon="exclamation"  class="text-danger" *ngIf="!notafiscal.processado" placement="top" ngbTooltip="Nota Fiscal não processada"></fa-icon>
                    <fa-icon icon="check"  class="text-sucess" *ngIf="notafiscal.processado" placement="top" ngbTooltip="Nota Fiscal processada"></fa-icon>    
                </a>
            <span *ngIf="!notafiscal.arquivoPDF">{{ notafiscal.notNumero }}</span>
            </td>
                <td><span  class="font-weight-normal text-truncate">{{ notafiscal.notDescricao }}</span></td>
                <td>{{ notafiscal.notCnpj }}</td>
                <td><span  class="font-weight-normal text-truncate">{{ notafiscal.notEmpresa }}</span></td>
                <td>{{ notafiscal.notDatasaida | date:'dd/MM/yyyy' }}</td>
                <td >{{ notafiscal.notValornota | currency:"BRL" }}</td>
                <td >{{ notafiscal.notDataparcela | date:'dd/MM/yyyy' }}</td>
                <td >{{ notafiscal.notValorparcela | currency:"BRL" }}</td>
                <td >{{ notafiscal.notParcela }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="notafiscals && notafiscals.length > 0">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
            [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>
</div>
</div>