<div>
    <h2 id="page-heading">
        <span jhiTranslate="mrcontadorFrontApp.conta.home.title">Contas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conta" [routerLink]="['/conta/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mrcontadorFrontApp.conta.home.createLabel">
            Create a new Conta
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contas?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.conta.home.notFound">No contas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contas && contas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="con_conta"><span jhiTranslate="mrcontadorFrontApp.conta.con_conta">Con Conta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="con_classificacao"><span jhiTranslate="mrcontadorFrontApp.conta.con_classificacao">Con Classificacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="con_tipo"><span jhiTranslate="mrcontadorFrontApp.conta.con_tipo">Con Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="con_descricao"><span jhiTranslate="mrcontadorFrontApp.conta.con_descricao">Con Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="con_cnpj"><span jhiTranslate="mrcontadorFrontApp.conta.con_cnpj">Con Cnpj</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="con_grau"><span jhiTranslate="mrcontadorFrontApp.conta.con_grau">Con Grau</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parceiroId"><span jhiTranslate="mrcontadorFrontApp.conta.parceiro">Parceiro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conta of contas ;trackBy: trackId">
                    <td><a [routerLink]="['/conta', conta.id, 'view']">{{ conta.id }}</a></td>
                    <td>{{ conta.con_conta }}</td>
                    <td>{{ conta.con_classificacao }}</td>
                    <td>{{ conta.con_tipo }}</td>
                    <td>{{ conta.con_descricao }}</td>
                    <td>{{ conta.con_cnpj }}</td>
                    <td>{{ conta.con_grau }}</td>
                    <td>
                        <div *ngIf="conta.parceiroId">
                            <a [routerLink]="['/parceiro', conta.parceiroId , 'view']" >{{ conta.parceiroId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/conta', conta.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/conta', conta.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(conta)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contas && contas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
