<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conta">
            <h2><span jhiTranslate="mrcontadorFrontApp.conta.detail.title">Conta</span> {{ conta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mrcontadorFrontApp.conta.con_conta">Con Conta</span></dt>
                <dd>
                    <span>{{ conta.conConta }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.conta.con_classificacao">Con Classificacao</span></dt>
                <dd>
                    <span>{{ conta.conClassificacao }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.conta.con_tipo">Con Tipo</span></dt>
                <dd>
                    <span>{{ conta.conTipo }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.conta.con_descricao">Con Descricao</span></dt>
                <dd>
                    <span>{{ conta.conDescricao }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.conta.con_cnpj">Con Cnpj</span></dt>
                <dd>
                    <span>{{ conta.conCnpj }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.conta.con_grau">Con Grau</span></dt>
                <dd>
                    <span>{{ conta.conGrau }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.conta.parceiro">Parceiro</span></dt>
                <dd>
                    <div *ngIf="conta.parceiroId">
                        <a [routerLink]="['/parceiro', conta.parceiroId, 'view']">{{ conta.parceiroId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conta', conta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
