<nav class="navbar navbar-expand-lg navbar-light justify-content-end p-1 bg-secondary">
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="isMenu"
        aria-label="Toggle navigation" (click)="isMenu = !isMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [class.collapse]="!isMenu" id="navbarContent">
        <ul class="navbar-nav">
            <li class="nav-item" ngbDropdown>
                <button class="btn btn-dark" id="navbarDropdown1" ngbDropdownToggle>Menu</button>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                    <a ngbDropdownItem [routerLink]="'stats'" class="btn btn-dark active w-100" role="button">
                        <span jhiTranslate="mrcontadorFrontApp.onboard.stats" class="text-light"></span>
                    </a>
                    
                    <a ngbDropdownItem [routerLink]="'consolida'" class="btn btn-dark active w-100" role="button">
                                <span jhiTranslate="mrcontadorFrontApp.onboard.processamento" class="text-light"></span>
                            </a>
                         
                    <a ngbDropdownItem [routerLink]="'extrato'" class="btn btn-dark w-100 text-left border-bottom">
                        <span jhiTranslate="mrcontadorFrontApp.onboard.extrato" class="text-light"></span></a>
                    <a ngbDropdownItem [routerLink]="'comprovante'" class="btn btn-dark w-100 text-left border-bottom">
                        <span jhiTranslate="mrcontadorFrontApp.onboard.comprovante" class="text-light"></span></a>
                    <a ngbDropdownItem [routerLink]="'nfe'" class="btn btn-dark w-100 text-left border-bottom"
                        role="button">
                        <span jhiTranslate="mrcontadorFrontApp.onboard.nfe" class="text-light"></span></a>
                    <a [routerLink]="'cadastro'" class="btn btn-dark w-100 text-left border-bottom" role="button"
                        ngbDropdownItem><span class="text-light"
                            jhiTranslate="mrcontadorFrontApp.onboard.dados"></span></a>
                           
                    <a [routerLink]="'agencia'" class="btn btn-dark w-100 text-left border-bottom" role="button"
                        ngbDropdownItem>
                        <span jhiTranslate="mrcontadorFrontApp.onboard.agencia" class="text-light"></span></a>
                    <a [routerLink]="'conta'" class="btn btn-dark w-100 text-left border-bottom" ngbDropdownItem
                        role="button"><span jhiTranslate="mrcontadorFrontApp.onboard.planoconta"
                            class="text-light"></span></a>
                    <a [routerLink]="'caixa'" class="btn btn-dark w-100 text-left border-bottom" ngbDropdownItem
                        role="button"><span jhiTranslate="mrcontadorFrontApp.onboard.caixa"
                            class="text-light"></span></a>
                    <a [routerLink]="'regra'" class="btn btn-dark w-100 text-left border-bottom" ngbDropdownItem
                        role="button"><span jhiTranslate="mrcontadorFrontApp.onboard.regra"
                            class="text-light"></span></a>
                </div>
            </li>
        </ul>
        <form class="form-inline ml-auto" action="">
            <label jhiTranslate="mrcontadorFrontApp.parceiro.par_razaosocial" for="field_par_razaosocial"
                class="mr-sm-2"></label>
            <input style="width: 20rem;" id="typeahead-focus" name="par_razaosocial" type="text"
                class="form-control mr-sm-2" [(ngModel)]="parceiro" [inputFormatter]="formatter" [ngbTypeahead]="search"
                [resultFormatter]="resultFormatter" (focus)="focus$.next($any($event).target.value)"
                (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead"
                (selectItem)="onChangeParceiro($event)" />
            <label jhiTranslate="mrcontadorFrontApp.parceiro.par_cnpjcpf" for="field_cnpjcpf" class="mr-sm-2"></label>
            <input id="field_cnpjcpf" class="form-control mr-sm-2" style="font-size: 100%;" disabled name="parCnpjcpf"
                [(ngModel)]="parceiro.parCnpjcpf" />
        </form>

    </div>
</nav>




<div id="content">
    <router-outlet></router-outlet>
</div>
