.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
}
a.btn {
  border-radius: unset;
}
.sidebar-header {
  min-height: 100vh;
  display: table;
}
.sidemenu {
  min-width: 250px;
}

.sidebar-subheader {
  display: table-cell;
  vertical-align: middle;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.btn:active,
.btn.active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
}

.btn:hover,
.btn.hover {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
}
