<nav class="navbar navbar-expand-lg bg-secondary justify-content-end border border-secondary p-1">
    <form class="form-inline" action="">
        <label for="field_agencia"  class="mr-sm-2" >Agência bancária</label>
        <select id="field_agencia" [(ngModel)]="agenciaSelected" class="form-control mr-sm-2" name="field_agencia"
            (change)="onChangeAgencia()">
            <option *ngFor="let agencia of parceiro?.agenciabancarias" [ngValue]="agencia">
                {{ agencia.ageNumero + ' - ' + agencia.ageAgencia }}
            </option>
        </select>
        <label for="field_mes" class="mr-sm-2">Mês</label>
        <select id="field_mes" [(ngModel)]="mesSelected" class="form-control mr-sm-2" name="field_mes"
            (change)="onChangeMes()">
            <option *ngFor="let id of meses" [ngValue]="id">
                {{ mesLabels[id] }}
            </option>
        </select>
        <label for="field_ano" class="mr-sm-2">Ano</label>
        <select id="field_ano" [(ngModel)]="anoSelected" class="form-control mr-sm-2" name="field_ano"
            (change)="onChangeAno()">
            <option *ngFor="let ano of anos" [ngValue]="ano">
                {{ ano }}
            </option>
        </select>
        <button class="btn btn-primary" (click)="downloadLancamento()">Exportar Lançamento</button>
    </form>
</nav>

<ng-template #popContent> 
    <form>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_descricao" for="field_reg_descricao">Reg Descricao</label>
                   <select id="field_reg_descricao" [(ngModel)]="tipoRegraSelected" class="form-control" name="field_reg_descricao" required>
                    <option *ngFor="let tipoRegra of tipoRegras" [ngValue]="tipoRegra">
                      {{ tipoRegra?.regDescricao }} 
                    </option>
                  </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_conta" for="field_reg_conta">Reg Conta</label>
            <jhi-conta-select [parceiro]="parceiro?.id" name="contaId" id="field_reg_conta" (contaSelected)="selectedConta($event)" [conta]="contaSelected" required></jhi-conta-select>
      
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_historico" for="field_reg_historico">Reg Historico</label>
            <input type="text" class="form-control" name="reg_historico" id="field_reg_historico" required
            [(ngModel)]="regra.regHistorico"/>
        </div>
        <div>
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="cancelRegra()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button type="submit" id="save-entity" class="btn btn-primary" (click)="saveRegra()" [disabled]="!contaSelected || tipoRegraSelected.tipoRegra === undefined  || !regra.regHistorico">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
</form>
</ng-template>
<ng-template #popConta> 
    <form>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_conta" for="field_pop_conta"></label>
            <jhi-conta-select [parceiro]="parceiro?.id" name="field_pop_conta" id="field_pop_conta" (contaSelected)="selectedConta($event)" [conta]="contaSelected" required></jhi-conta-select>
      
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_historico" for="field_pop_historico"></label>
            <input type="text" class="form-control" name="pop_historico" id="field_pop_historico" required
            [(ngModel)]="inteligentSelected.historicofinal"/>
        </div>
        <div>
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="cancelConta()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button type="submit" id="save-entity" class="btn btn-primary" (click)="saveConta()" [disabled]="!contaSelected  || !inteligentSelected.historicofinal">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
</form>
</ng-template>
<ng-template #popContaTitle><b>Associar conta</b></ng-template>
<ng-template #popTitle><b>Associar regra</b></ng-template>
<ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
    <li [ngbNavItem]="1">
        <a ngbNavLink>
            <span jhiTranslate="mrcontadorFrontApp.inteligent.lancamento_divergencia"></span>
        <span class="badge badge-pill badge-light ml-2">{{divergencias?.length}}</span>
        </a>
        <ng-template ngbNavContent>
            <div class="table-responsive" id="divergencia">
                <table class="table table-sm table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.datalancamento"></span>
                            </th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.historico"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.numdocumento"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.debito"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.credito"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.conta"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.classificacao"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.cnpj"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.beneficiario"></span></th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.infoAdicional"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="divergencias?.length === 0">                           
                            <td colspan="10">
                                <div class="alert alert-light text-center">
                                <span jhiTranslate="mrcontadorFrontApp.inteligent.home.notFound">No inteligents
                                    found</span>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let inteligent of divergencias">
                            <td>{{ inteligent.datalancamento | date:'dd/MM/yyyy' }}</td>
                            <td><a [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="false" #popOver="ngbPopover" triggers="manual" (click)="selectInteligent(inteligent,popOver)" class="text-info"><u placement="top" ngbTooltip="Associar regra">{{ inteligent.historico }}</u></a></td>
                            <td ><span *ngIf="!inteligent?.comprovante">{{ inteligent.numerodocumento }}</span><a  (click)="downloadComprovante(inteligent?.comprovante || {})" *ngIf="inteligent?.comprovante" target="_blank" placement="top" ngbTooltip="Click para Visualizar Comprovante"><span class="font-weight-normal text-truncate text-info" ><u>{{inteligent.numerodocumento}}</u></span></a></td>
                            <td><span class="text-danger"> {{inteligent.debito  | currency:"BRL"}}</span></td>
                            <td>{{ inteligent.credito  | currency:"BRL"}}</td>
                            <td><span>{{ inteligent.conta?.conConta}}</span>
                            <div >
                                <a [ngbPopover]="popConta" [popoverTitle]="popContaTitle" [autoClose]="false" #p1="ngbPopover" triggers="manual" (click)="selectConta(inteligent,p1)" class="text-info">
                                    <u placement="top" ngbTooltip="Associar conta">Associar conta</u>
                                </a>
                            </div>
                            </td>
                            <td>{{ inteligent.conta?.conClassificacao}}</td>
                            <td><span *ngIf="!inteligent?.notafiscal">{{ inteligent.cnpj }}</span><a  (click)="downloadNfe(inteligent?.notafiscal || {})" *ngIf="inteligent?.notafiscal" target="_blank" placement="top" ngbTooltip="Click para Visualizar Nota Fiscal"><span class="font-weight-normal text-truncate text-info" ><u>{{ inteligent.cnpj }}</u></span></a></td>
                            <td>{{ inteligent.beneficiario }}</td>
                            <td>{{ inteligent.extrato?.infoAdicional }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink><span jhiTranslate="mrcontadorFrontApp.inteligent.lancamento_conciliado"></span>
            <span class="badge badge-pill badge-light ml-2">{{conciliados?.length}}</span></a>
        <ng-template ngbNavContent>
            <div class="table-responsive" id="conciliados">
                <table class="table table-sm table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.datalancamento"></span>
                            </th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.historico"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.numdocumento"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.debito"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.credito"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.conta"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.classificacao"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.cnpj"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.beneficiario"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.historicofinal"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="conciliados?.length === 0">
                            <td colspan="10">
                                <div class="alert alert-light text-center">
                                <span jhiTranslate="mrcontadorFrontApp.inteligent.home.notFound">teste</span>
                            </div>
                            </td>
                        </tr>
                        <tr *ngFor="let inteligent of conciliados">
                            <td>{{ inteligent.datalancamento | date:'dd/MM/yyyy' }}</td>
                            <td><a class="text-info"><u>{{ inteligent.historico }}</u></a></td>
                            <td ><span *ngIf="!inteligent?.comprovante">{{ inteligent.numerodocumento }}</span>
                                <a  (click)="downloadComprovante(inteligent?.comprovante || {})" *ngIf="inteligent?.comprovante" target="_blank" placement="top" ngbTooltip="Click para Visualizar Comprovante">
                                    <span class="font-weight-normal text-truncate text-info" ><u>{{inteligent.numerodocumento}}</u></span>
                                </a>
                            </td>
                            <td>{{ inteligent.debito  | currency:"BRL"}}</td>
                            <td>{{ inteligent.credito  | currency:"BRL"}}</td>
                            <td>{{ inteligent.conta?.conConta}}</td>
                            <td>{{ inteligent.conta?.conClassificacao}}</td>
                            <td><span *ngIf="!inteligent?.notafiscal">{{ inteligent.cnpj }}</span><a  (click)="downloadNfe(inteligent?.notafiscal || {})" *ngIf="inteligent?.notafiscal" target="_blank" placement="top" ngbTooltip="Click para Visualizar Nota Fiscal"><span class="font-weight-normal text-truncate text-info" ><u>{{ inteligent.cnpj }}</u></span></a></td>
                            <td>{{ inteligent.beneficiario }}</td>
                            <td>{{ inteligent.historicofinal }}</td>
                         
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>