<nav class="navbar navbar-expand-lg bg-dark justify-content-end border border-secondary p-1">
        <div class="form-inline">
                <label for="field_agencia"  class="mr-sm-2 text-light" >Filtro:</label>
            <input class="form-control ml-2" type="text" [formControl]="filter" type="search"/>
            <select id="field_filter" [(ngModel)]="filterAssociado" class="form-control ml-2" name="field_filter"
            (change)="onChangeAssociado()">
            <option value="2">Todos</option>
            <option value="false">Divergentes</option>
            <option value="true">Conciliados</option>
        </select>
            </div>
    <form class="form-inline ml-auto" action="">
        <label for="field_agencia"  class="mr-sm-2 text-light" >Agência bancária:</label>
        <select id="field_agencia" [(ngModel)]="agenciaSelected" class="form-control mr-sm-2" name="field_agencia"
            (change)="onChangeAgencia()">
            <option *ngFor="let agencia of parceiro?.agenciabancarias" [ngValue]="agencia">
               <span *ngIf="agencia.tipoAgencia === 'CONTA'">{{ agencia.ageDescricao +': '+ agencia.ageAgencia + '/' + agencia.ageNumero }}</span>
               <span *ngIf="agencia.tipoAgencia === 'APLICACAO'">{{ 'APLICACAO '+agencia.ageAgencia + '/' + agencia.ageNumero }}</span>
               <span *ngIf="agencia.tipoAgencia === 'CAIXA'">{{ agencia.ageAgencia }}</span>
            </option>
        </select>
        <label for="field_data" class="mr-sm-2 text-light">Período:</label>
        <jhi-periodo type="month" [periodo]="periodo"  [name]="'field_data'" [clazz]="'form-control mr-sm-2'" (periodoSelected)=selectPeriodo($event)>
            </jhi-periodo>
        <button class="btn btn-dark" (click)="downloadLancamento()" [disabled]="!enableExport">Exportar Lançamento</button>
    </form>
</nav>

<ng-template #popContent> 
    <form>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_descricao" for="field_reg_descricao">Reg Descricao</label>
                   <select id="field_reg_descricao" [(ngModel)]="tipoRegraSelected" class="form-control" name="field_reg_descricao" required>
                    <option *ngFor="let tipoRegra of tipoRegras" [ngValue]="tipoRegra">
                      {{tipoRegra.tipoRegra}}
                    </option>
                  </select>
                  <input type="text" class="form-control" name="reg_historico" id="field_reg_historico" readonly
                  [(ngModel)]="tipoRegraSelected.regDescricao"/>
                </div>
        
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_conta" for="field_reg_conta">Reg Conta</label>
            <jhi-conta-select [parceiro]="parceiro?.id" name="contaId" id="field_reg_conta" (contaSelected)="selectedConta($event)" [conta]="contaSelected" required></jhi-conta-select>
      
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_historico" for="field_reg_historico">Reg Historico</label>
            <input type="text" class="form-control" name="reg_historico" id="field_reg_historico" required
            [(ngModel)]="regra.regHistorico"/>
        </div>
        <div>
            <button type="button" id="cancel-save" class="btn btn-light" (click)="cancelRegra()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button type="submit" id="save-entity" class="btn btn-info" (click)="saveRegra()" [disabled]="!contaSelected || tipoRegraSelected.tipoRegra === undefined">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
</form>
</ng-template>
<ng-template #popConta> 
    <form>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_conta" for="field_pop_conta"></label>
            <jhi-conta-select [parceiro]="parceiro?.id" name="field_pop_conta" id="field_pop_conta" (contaSelected)="selectedConta($event)" [conta]="contaSelected" required></jhi-conta-select>
      
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.regra.reg_historico" for="field_pop_historico"></label>
            <input type="text" class="form-control" name="pop_historico" id="field_pop_historico" required
            [(ngModel)]="inteligentSelected.historicofinal"/>
        </div>
        <div>
            <button type="button" id="cancel-save" class="btn btn-light" (click)="cancelConta()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button type="submit" id="save-entity" class="btn btn-info" (click)="saveConta()" [disabled]="!contaSelected  || !inteligentSelected.historicofinal">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
</form>
</ng-template>

<ng-template #popNotaFiscal> 
    <div  *ngIf="notafiscals?.length === 0">
            <span jhiTranslate="mrcontadorFrontApp.notafiscal.home.notFound">No notafiscals found</span>
    </div>
        <div class="overflow-auto" id="notasPop" *ngIf="notafiscals.length > 0">
                <div class="container">
                        <div class="row border-bottom">
                          <div class="col-sm-2"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_numero"></span>
                          </div>
                          <div class="col-sm-5 text-center"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_empresa"></span>
                          </div>
                          <div class="col-sm-2 text-right"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_dataparcela"></span>
                          </div>
                          <div class="col-sm text-right"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_valornota"></span></div>
                          <div class="col-sm text-right"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_parcela">Not
                                Parcela</span>
                           </div>
                        </div>
                        <div *ngFor="let notafiscal of notafiscals" class="row border-bottom">
                                <div class="col-sm">        
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="nfradios" value="" style="cursor: pointer">
                                        <label class="form-check-label">{{ notafiscal.notNumero }}</label>
                                    </div>
                                </div>
                                <div class="col-sm"><span  class="font-weight-normal text-truncate">{{ notafiscal.notEmpresa }}</span></div>
                                <div class="col-sm"><span>{{ notafiscal.notDataparcela | date:'dd/MM/yyyy' }}</span></div>
                                <div class="col-sm"><span>{{ notafiscal.notValorparcela | currency:"BRL" }}</span></div>
                                <div class="col-sm text-right"><span>{{ notafiscal.notParcela }}</span></div> 
                        </div> 
                        <div class="row mt-2">
                            <div class="col-sm text-right">
                                    <button type="button" id="close-taxa" class="btn btn-info btn-sm" (click)="closeNota()">
                                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.close"></span>
                                        </button>
                            </div>   
                        </div>
                      </div>
        </div>
    </ng-template>

<ng-template #popTaxa> 
    <form>
            <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.comprovante.com_valordocumento" for="field_taxa_vlpagto"></label>
                    <span class="form-control" name="field_taxa_vlpagto" id="field_taxa_vlpagto">{{inteligentSelected.comprovante?.comValorpagamento  | currency:"BRL"}}</span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notafiscal.not_valorparcela" for="field_taxa_notValorparcela"></label>
                    <span class="form-control" name="field_taxa_notValorparcela" id="field_taxa_notValorparcela">{{inteligentSelected.notafiscal?.notValorparcela  | currency:"BRL"}}</span>
                </div>
                <div class="form-group" *ngIf="inteligentSelected.comprovante?.juros">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.comprovante.juros" for="field_taxa_juros"></label>
                    <span class="form-control" name="field_taxa_juros" id="field_taxa_juros">{{inteligentSelected.comprovante?.juros  | currency:"BRL"}}</span>
                </div>
                <div class="form-group" *ngIf="inteligentSelected.comprovante?.desconto">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.comprovante.desconto" for="field_taxa_desconto"></label>
                    <span class="form-control" name="field_taxa_desconto" id="field_taxa_desconto">{{inteligentSelected.comprovante?.desconto  | currency:"BRL"}}</span>
                </div>
                <div class="form-group" *ngIf="inteligentSelected.tipoValor === 'TAXA'">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.inteligent.taxa" for="field_taxa_taxa"></label>
                    <span class="form-control" name="field_taxa_taxa" id="field_taxa_taxa">{{inteligentSelected.debito  | currency:"BRL"}}</span>
                </div>
                <div>
            <button type="button" id="close-taxa" class="btn btn-info" (click)="closeTaxa()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.close"></span>
            </button>
        </div>
</form>
</ng-template>
<ng-template #popNotaFiscalTitle><b>Notas Fiscais</b></ng-template>
<ng-template #popTaxaTitle><b>Detalhes</b></ng-template>
<ng-template #popContaTitle><b>Associar conta</b></ng-template>
<ng-template #popTitle><b>Associar regra</b></ng-template>


<ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs" [(activeId)]="activeTab">
    <li [ngbNavItem]="1" *ngIf="agenciaSelected?.tipoAgencia === 'CONTA'">
        <a ngbNavLink>
            <span jhiTranslate="mrcontadorFrontApp.inteligent.lancamentos"></span>
        <span class="badge badge-pill badge-light ml-2">{{inteligents?.length}}</span>
        </a>
        <ng-template ngbNavContent>
                <div class="table-responsive" id="divergencia">
                        <table class="table table-sm" aria-describedby="page-heading">
                            <thead>
                                <tr>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.datalancamento"></span>
                                    </th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.historico"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.debito"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.credito"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.numdocumento"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.conta"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.classificacao"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.notafiscal"></span></th>
                                    <th scope="col"></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.beneficiario"></span></th>
                                        <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.infoAdicional"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="inteligents?.length === 0">                           
                                    <td colspan="12">
                                        <div class="alert alert-light text-center">
                                        <span jhiTranslate="mrcontadorFrontApp.inteligent.home.notFound">No inteligents
                                            found</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngFor="let inteligent of inteligentsFilter | async">
                                     
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''" >{{ inteligent.datalancamento | date:'dd/MM/yyyy' }}</td>
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''">
                                        <a *ngIf="!inteligent.associado" [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="false" #popOver="ngbPopover" triggers="manual" (click)="selectInteligent(inteligent,popOver)" class="link-dark"><u placement="top" ngbTooltip="Associar regra">{{ inteligent.historico }}</u></a>
                                        <span *ngIf="inteligent.associado" class="text-info text-truncate">{{ inteligent.historicofinal }}
                                                <a *ngIf="inteligent?.historicofinal" (click)="selectHistFinal(inteligent,$event)" class="text-info no_show">
                                                        <fa-icon icon="pencil-alt" class="text-sucess"></fa-icon>
                                                </a>
                                        </span>
                                        <div class="no_show">
                                                        <input [(ngModel)]="histFinal" class="w90">
                                                                <a  (click)="cancelHistFinal()"><fa-icon icon="times" class="text-danger" placement="top" ngbTooltip="Cancelar"></fa-icon></a>
                                                                <a  (click)="saveHistFinal(inteligent)"><fa-icon icon="check"  class="text-sucess" placement="top" ngbTooltip="Salvar"></fa-icon></a>
                                        </div>
                                    </td> 
                        
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''">
                                        <span  [ngClass]="!inteligent.associado ? 'text-light text-truncate' : 'text-danger text-truncate'" *ngIf="inteligent.tipoValor !== 'TAXA'"> {{inteligent.debito  | currency:"BRL"}}</span>
                                        <a *ngIf="inteligent.tipoValor === 'TAXA'" [ngbPopover]="popTaxa" [popoverTitle]="popTaxaTitle" [autoClose]="false" #ptaxa="ngbPopover" triggers="manual" (click)="selectTaxa(inteligent,ptaxa)"  [ngClass]="!inteligent.associado ? 'text-light' : 'text-danger'">
                                                <u placement="top" ngbTooltip="Visualizar detalhes" class="text-truncate">{{inteligent.debito  | currency:"BRL"}}</u>
                                            </a>
                                    </td>
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''"><span class="text-truncate">{{ inteligent.credito  | currency:"BRL"}}</span></td>
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''">
                                            <span *ngIf="!inteligent?.comprovante" class="text-truncate">{{ inteligent.numerodocumento }}</span>
                                            <a  (click)="downloadComprovante(inteligent?.comprovante || {})" *ngIf="inteligent?.comprovante" target="_blank" placement="top" ngbTooltip="Click para Visualizar Comprovante">
                                            <span class="font-weight-normal text-truncate link-dark" ><u class="text-truncate">{{inteligent.numerodocumento}}</u></span>
                                            </a>
                                        </td>
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''">
                                        <div>
                                        <a  [ngbPopover]="popConta" [popoverTitle]="popContaTitle" [autoClose]="false" #p1="ngbPopover" triggers="manual" (click)="selectConta(inteligent,p1)" class="link-dark">
                                            <u placement="top" ngbTooltip="Associar conta" *ngIf="!inteligent.associado">Associar conta</u>
                                            <u placement="top" ngbTooltip="Editar conta" *ngIf="inteligent.associado">{{ inteligent.conta?.conConta}}</u>
                                        </a>
                                    </div>
                                    </td>
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''"><span class="text-truncate">{{inteligent.conta?.conClassificacao}}</span></td>
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''">
                                            <a  (click)="loadNotas(inteligent)" class="link-dark" *ngIf="!inteligent.associado && inteligent.tipoValor && inteligent.tipoValor === tipoValor[tipoValor.PRINCIPAL] && inteligent?.comprovante && inteligent.comprovante?.tipoComprovante === tipoComprovante[tipoComprovante.TITULO] && !inteligent.notafiscal?.notNumero">
                                                    <u placement="top" ngbTooltip="Associar nota fiscal">Associar nota fiscal</u>
                                                </a>
                                        <a  (click)="downloadNfe(inteligent?.notafiscal || {})" *ngIf="inteligent?.notafiscal" target="_blank" placement="top" ngbTooltip="Click para Visualizar Nota Fiscal"><span class="font-weight-normal text-truncate link-dark" ><u>{{ inteligent.notafiscal?.notNumero }}</u></span></a>
                              
                                     </td>
                                     <td [ngClass]="!inteligent.associado ? 'bg-danger' : ''">          <a *ngIf="inteligent.associado && inteligent?.comprovante && inteligent.comprovante?.tipoComprovante === 'TITULO'" (click)="removeNf(inteligent)" class="text-info" placement="top" ngbTooltip="Remover Nota Fiscal">
                                            <fa-icon icon="minus" class="text-sucess"></fa-icon></a> 
                                    </td> 
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''"><span class="text-truncate">  {{ inteligent.beneficiario }} {{ inteligent.cnpj }}</span></td>
                                    <td [ngClass]="!inteligent.associado ? 'bg-danger text-light' : ''"><span class="text-truncate">{{ inteligent.extrato?.infoAdicional }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
        </ng-template>
    </li>

    <li [ngbNavItem]="2" *ngIf="agenciaSelected?.tipoAgencia === 'APLICACAO'">
            <a ngbNavLink><span jhiTranslate="mrcontadorFrontApp.inteligent.aplicacao"></span>
                <span class="badge badge-pill badge-light ml-2">{{inteligents?.length}}</span></a>
            <ng-template ngbNavContent>
                <div class="table-responsive" id="aplicacaointeligents">
                    <table class="table table-sm table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.datalancamento"></span>
                                </th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.debito"></span></th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.credito"></span></th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.conta"></span></th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.classificacao"></span></th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.historicofinal"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="inteligents?.length === 0">
                                <td colspan="6">
                                    <div class="alert alert-light text-center">
                                    <span jhiTranslate="mrcontadorFrontApp.inteligent.home.notFound"></span>
                                </div>
                                </td>
                            </tr>
                            <tr *ngFor="let inteligent of inteligents">
                                <td>{{ inteligent.datalancamento | date:'dd/MM/yyyy' }}</td>
                                <td>{{ inteligent.debito  | currency:"BRL"}}</td>
                                <td>{{ inteligent.credito  | currency:"BRL"}}</td>
                                <td>{{ inteligent.conta?.conConta}}</td>
                                <td>{{ inteligent.conta?.conClassificacao}}</td>
                                <td>{{ inteligent.historicofinal }}</td>
                             
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3" *ngIf="agenciaSelected?.tipoAgencia === 'CAIXA'">
                <a ngbNavLink><span jhiTranslate="mrcontadorFrontApp.inteligent.caixa"></span>
                    <span class="badge badge-pill badge-light ml-2">{{inteligents?.length}}</span></a>
                <ng-template ngbNavContent>
                    <div class="table-responsive" id="caixainteligents">
                        <table class="table table-sm table-striped" aria-describedby="page-heading">
                            <thead>
                                <tr>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.datalancamento"></span>
                                    </th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.debito"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.credito"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.conta"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.classificacao"></span></th>
                                    <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.historicofinal"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="inteligents?.length === 0">
                                    <td colspan="6">
                                        <div class="alert alert-light text-center">
                                        <span jhiTranslate="mrcontadorFrontApp.inteligent.home.notFound"></span>
                                    </div>
                                    </td>
                                </tr>
                                <tr *ngFor="let inteligent of inteligents">
                                    <td>{{ inteligent.datalancamento | date:'dd/MM/yyyy' }}</td>
                                    <td>{{ inteligent.debito  | currency:"BRL"}}</td>
                                    <td>{{ inteligent.credito  | currency:"BRL"}}</td>
                                    <td>{{ inteligent.conta?.conConta}}</td>
                                    <td>{{ inteligent.conta?.conClassificacao}}</td>
                                    <td>{{ inteligent.historicofinal }}</td>
                                 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </li>

</ul>




<div [ngbNavOutlet]="nav" class="mt-2"></div>