<div class="modal-header bg-info pb-1 pt-1 pr-1">
        <h4 class="modal-title text-center text-light" jhiTranslate="mrcontadorFrontApp.inteligent.home.nfAssociate"></h4>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
        <div class="table-responsive">
                <table class="table table-sm table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.datalancamento"></span>
                            </th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.historico"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.numdocumento"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.debito"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.cnpj"></span></th>
                            <th scope="col"><span jhiTranslate="mrcontadorFrontApp.inteligent.beneficiario"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ inteligent.datalancamento | date:'dd/MM/yyyy' }}</td>
                            <td>{{ inteligent.historico }}</td>
                            <td ><span class="font-weight-normal text-truncate text-info" >{{inteligent.numerodocumento}}</span></td>
                            <td><span class="text-danger"> {{inteligent.debito  | currency:"BRL"}}</span></td>
                            <td>{{ inteligent.cnpj }}</td>
                            <td>  {{ inteligent.beneficiario }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
<div *ngIf="!proximo">
        <div class="table-responsive" id="entities">
                <table class="table table-sm table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                        <th scope="col">
                        </th>
                        <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_numero"></span>
                        </th>
                        <th scope="col"><span
                                jhiTranslate="mrcontadorFrontApp.notafiscal.not_empresa"></span>
                        </th>
                        <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_dataparcela"></span>
                        </th>
                        <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_valornota"></span>
                        </th>
                        <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_parcela"></span>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="notafiscals?.length === 0">
                            <td colspan="6" class="text-center"><span jhiTranslate="mrcontadorFrontApp.notafiscal.home.notFound"></span></td>
                        </tr>
                        <tr *ngFor="let nf of notafiscals;let i=index; " >
                                <td><input  [disabled]="!nf.enabled" type="checkbox" (change)="check(nf)" value="{{nf.selected}}" [(ngModel)]="notafiscals[i].selected" style="cursor: pointer" >
                                </td>
                                <td> <span>{{ nf.notafiscal.notNumero }}</span></td>
                                    <td><span class="font-weight-normal text-truncate">{{ nf.notafiscal.notEmpresa }}</span></td>
                                    <td><span>{{ nf.notafiscal.notDataparcela | date:'dd/MM/yyyy' }}</span></td>
                                    <td><span>{{ nf.notafiscal.notValorparcela | currency:"BRL" }}</span></td>
                                    <td><span>{{ nf.notafiscal.notParcela }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="proximo">
                <div class="table-responsive">
                        <table class="table table-sm table-striped" aria-describedby="page-heading">
                            <thead>
                                <tr>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_numero"></span>
                                </th>
                                <th scope="col"><span
                                        jhiTranslate="mrcontadorFrontApp.notafiscal.not_empresa"></span>
                                </th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_dataparcela"></span>
                                </th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_valornota"></span>
                                </th>
                                <th scope="col"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_parcela"></span>
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="notafiscalSelecteds?.length === 0">
                                    <td colspan="6" class="text-center"><span jhiTranslate="mrcontadorFrontApp.notafiscal.home.notFound"></span></td>
                                </tr>
                                <tr *ngFor="let nf of notafiscalSelecteds;let i=index; " >
                                        <td> <span>{{ nf.notafiscal.notNumero }}</span></td>
                                            <td><span class="font-weight-normal text-truncate">{{ nf.notafiscal.notEmpresa }}</span></td>
                                            <td><span>{{ nf.notafiscal.notDataparcela | date:'dd/MM/yyyy' }}</span></td>
                                            <td><span>{{ nf.notafiscal.notValorparcela | currency:"BRL" }}</span></td>
                                            <td><span>{{ nf.notafiscal.notParcela }}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3"><label class="mr-sm-2" >Taxa de boleto</label></td>
                                    <td> <input [value]= "taxa  | currency:'BRL'" [attr.disabled]="showTaxa ? null : ''" #itaxa (blur)='atualizarTaxa(itaxa)'></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="4"><span class="text-danger" *ngIf="taxa > 0 || notafiscalSelecteds.length > 1">
                                        Atenção essa operação não poderá ser desfeita após finalizada.
                                    </span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div >
                            
                           
                    </div>
                </div>
</div>
<div class="modal-footer">
        <button type="button" id="back-taxa" class="btn btn-info btn-sm" (click)="back()" *ngIf="proximo">
                <fa-icon icon="angle-double-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"></span>
            </button>
            <button type="button" id="save-taxa" class="btn btn-info btn-sm" (click)="save()" *ngIf="proximo">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save"></span>
                </button>
        <button type="button" id="next-taxa" class="btn btn-info btn-sm" (click)="next()" *ngIf="showNext">
                <fa-icon icon="angle-double-right"></fa-icon>&nbsp;<span jhiTranslate="entity.action.next"></span>
            </button>
</div>