<div class="col-12 justify-content-center">
            <h5 id="page-heading">
                <div class="text-center">
                        <span jhiTranslate="mrcontadorFrontApp.notafiscal.home.title"></span>
                </div>
            </h5>
            <div class="row">
                <div class="col align-self-end">
                        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notafiscal" [routerLink]="['/notafiscal/new']">
                            <fa-icon icon="plus"></fa-icon>
                            <span  jhiTranslate="mrcontadorFrontApp.notafiscal.home.createLabel">
                            Create a new Notafiscal
                            </span>
                        </button>
                </div>       
            </div>
            <hr/>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notafiscals?.length === 0">
        <span jhiTranslate="mrcontadorFrontApp.notafiscal.home.notFound">No notafiscals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notafiscals && notafiscals.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_numero"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_numero">Not Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_descricao"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_descricao">Not Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_cnpj"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_cnpj">Not Cnpj</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_empresa"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_empresa">Not Empresa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_datasaida"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_datasaida">Not Datasaida</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_valornota"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_valornota">Not Valornota</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_dataparcela"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_dataparcela">Not Dataparcela</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_valorparcela"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_valorparcela">Not Valorparcela</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tno_codigo"><span jhiTranslate="mrcontadorFrontApp.notafiscal.tno_codigo">Tno Codigo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="not_parcela"><span jhiTranslate="mrcontadorFrontApp.notafiscal.not_parcela">Not Parcela</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parceiroId"><span jhiTranslate="mrcontadorFrontApp.notafiscal.parceiro">Parceiro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notafiscal of notafiscals ;trackBy: trackId">
                    <td><a [routerLink]="['/notafiscal', notafiscal.id, 'view']">{{ notafiscal.id }}</a></td>
                    <td>{{ notafiscal.not_numero }}</td>
                    <td>{{ notafiscal.not_descricao }}</td>
                    <td>{{ notafiscal.not_cnpj }}</td>
                    <td>{{ notafiscal.not_empresa }}</td>
                    <td>{{ notafiscal.not_datasaida | date:'medium' }}</td>
                    <td>{{ notafiscal.not_valornota }}</td>
                    <td>{{ notafiscal.not_dataparcela | date:'medium' }}</td>
                    <td>{{ notafiscal.not_valorparcela }}</td>
                    <td>{{ notafiscal.tno_codigo }}</td>
                    <td>{{ notafiscal.not_parcela }}</td>
                    <td>
                        <div *ngIf="notafiscal.parceiroId">
                            <a [routerLink]="['/parceiro', notafiscal.parceiroId , 'view']" >{{ notafiscal.parceiroId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/notafiscal', notafiscal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/notafiscal', notafiscal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(notafiscal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="notafiscals && notafiscals.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
