<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notaservico">
            <h2><span jhiTranslate="mrcontadorFrontApp.notaservico.detail.title">Notaservico</span> {{ notaservico.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_numero">Nse Numero</span></dt>
                <dd>
                    <span>{{ notaservico.nseNumero }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_descricao">Nse Descricao</span></dt>
                <dd>
                    <span>{{ notaservico.nseDescricao }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_cnpj">Nse Cnpj</span></dt>
                <dd>
                    <span>{{ notaservico.nseCnpj }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_empresa">Nse Empresa</span></dt>
                <dd>
                    <span>{{ notaservico.nseEmpresa }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_datasaida">Nse Datasaida</span></dt>
                <dd>
                    <span>{{ notaservico.nseDatasaida }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_valornota">Nse Valornota</span></dt>
                <dd>
                    <span>{{ notaservico.nseValornota }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_dataparcela">Nse Dataparcela</span></dt>
                <dd>
                    <span>{{ notaservico.nseDataparcela }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_valorparcela">Nse Valorparcela</span></dt>
                <dd>
                    <span>{{ notaservico.nseValorparcela }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.tno_codigo">Tno Codigo</span></dt>
                <dd>
                    <span>{{ notaservico.tnoCodigo }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.nse_parcela">Nse Parcela</span></dt>
                <dd>
                    <span>{{ notaservico.nseParcela }}</span>
                </dd>
                <dt><span jhiTranslate="mrcontadorFrontApp.notaservico.parceiro">Parceiro</span></dt>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notaservico', notaservico.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
