<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-notaservico-heading" jhiTranslate="mrcontadorFrontApp.notaservico.home.createOrEditLabel">Create or edit a Notaservico</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_numero" for="field_nse_numero">Nse Numero</label>
                    <input type="number" class="form-control" name="nse_numero" id="field_nse_numero"
                           formControlName="nse_numero"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_descricao" for="field_nse_descricao">Nse Descricao</label>
                    <input type="text" class="form-control" name="nse_descricao" id="field_nse_descricao"
                           formControlName="nse_descricao"/>
                    <div *ngIf="editForm.get('nse_descricao')!.invalid && (editForm.get('nse_descricao')!.dirty || editForm.get('nse_descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nse_descricao')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_cnpj" for="field_nse_cnpj">Nse Cnpj</label>
                    <input type="text" class="form-control" name="nse_cnpj" id="field_nse_cnpj"
                           formControlName="nse_cnpj"/>
                    <div *ngIf="editForm.get('nse_cnpj')!.invalid && (editForm.get('nse_cnpj')!.dirty || editForm.get('nse_cnpj')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nse_cnpj')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 18 }">
                        This field cannot be longer than 18 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_empresa" for="field_nse_empresa">Nse Empresa</label>
                    <input type="text" class="form-control" name="nse_empresa" id="field_nse_empresa"
                           formControlName="nse_empresa"/>
                    <div *ngIf="editForm.get('nse_empresa')!.invalid && (editForm.get('nse_empresa')!.dirty || editForm.get('nse_empresa')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nse_empresa')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 60 }">
                        This field cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_datasaida" for="field_nse_datasaida">Nse Datasaida</label>
                    <div class="d-flex">
                        <input id="field_nse_datasaida" type="datetime-local" class="form-control" name="nse_datasaida" formControlName="nse_datasaida" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_valornota" for="field_nse_valornota">Nse Valornota</label>
                    <input type="number" class="form-control" name="nse_valornota" id="field_nse_valornota"
                           formControlName="nse_valornota"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_dataparcela" for="field_nse_dataparcela">Nse Dataparcela</label>
                    <div class="d-flex">
                        <input id="field_nse_dataparcela" type="datetime-local" class="form-control" name="nse_dataparcela" formControlName="nse_dataparcela" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_valorparcela" for="field_nse_valorparcela">Nse Valorparcela</label>
                    <input type="number" class="form-control" name="nse_valorparcela" id="field_nse_valorparcela"
                           formControlName="nse_valorparcela"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.tno_codigo" for="field_tno_codigo">Tno Codigo</label>
                    <input type="number" class="form-control" name="tno_codigo" id="field_tno_codigo"
                           formControlName="tno_codigo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.nse_parcela" for="field_nse_parcela">Nse Parcela</label>
                    <input type="text" class="form-control" name="nse_parcela" id="field_nse_parcela"
                           formControlName="nse_parcela"/>
                    <div *ngIf="editForm.get('nse_parcela')!.invalid && (editForm.get('nse_parcela')!.dirty || editForm.get('nse_parcela')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nse_parcela')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mrcontadorFrontApp.notaservico.parceiro" for="field_parceiro">Parceiro</label>
                    <select class="form-control" id="field_parceiro" name="parceiro" formControlName="parceiroId">
                        <option *ngIf="!editForm.get('parceiroId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="parceiroOption.id" *ngFor="let parceiroOption of parceiros; trackBy: trackById">{{ parceiroOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('parceiroId')!.invalid && (editForm.get('parceiroId')!.dirty || editForm.get('parceiroId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('parceiroId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
