<div class="card">
    <div class="card-header bg-primary text-center text-light">
        <span
        jhiTranslate="mrcontadorFrontApp.onboard.comprovante"></span>
    </div>
<nav class="navbar navbar-expand-lg bg-secondary justify-content-end border border-secondary p-1">
    <form class="form-inline" action="">
            <label for="field_agencia" class="mr-sm-2" >Agência bancária</label>
        <select id="field_agencia" [(ngModel)]="agenciaSelected" class="form-control mr-sm-2" name="field_agencia"
            (change)="onChangeAgencia()">
            <option *ngFor="let agencia of agencias" [ngValue]="agencia">
                {{ agencia.ageNumero + '/' + agencia.ageAgencia }}
            </option>
        </select>
        <label class="mr-sm-2"  for="field_mes" >Mês</label>
        <select id="field_mes" [(ngModel)]="mesSelected" class="form-control mr-sm-2" name="field_mes"
            (change)="onChangeMes()">         
            <option *ngFor="let id of meses" [ngValue]="id">
                {{ mesLabels[id] }}
            </option>
        </select>
        <label class="mr-sm-2"  for="field_ano" >Ano</label>
        <select id="field_ano" [(ngModel)]="anoSelected" class="form-control mr-sm-2" name="field_ano"
            (change)="onChangeAno()">          
            <option *ngFor="let ano of anos" [ngValue]="ano">
                {{ ano }}
            </option>
        </select>
        <button class="btn btn-primary form-control mr-sm-2" (click)="upload()" > 
            <fa-icon icon="cloud-upload-alt"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.upload"></span>
        </button>
    </form>
</nav>
<div class="card-body">
        <jhi-alert></jhi-alert>
    <div class="table-responsive" id="entities">
        <table class="table table-sm table-striped" aria-describedby="page-heading">         
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="comBeneficiario"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_beneficiario">Com Beneficiario</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_documento">Com Documento</span>
                    </th>
                    <th scope="col" jhiSortBy="comDatavencimento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_datavencimento">Com Datavencimento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comDatapagamento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_datapagamento">Com Datapagamento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comValordocumento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_valordocumento">Com Valordocumento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comValorpagamento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_valorpagamento">Com Valorpagamento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comObservacao"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_observacao">Com Observacao</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="comprovantes?.length === 0">
                    <td colspan="11">
                        <div class="alert alert-light text-center" id="no-result">
                            <span jhiTranslate="mrcontadorFrontApp.comprovante.home.notFound">No comprovantes
                                found</span>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let comprovante of comprovantes ;trackBy: trackId">
                    <td><span class="font-weight-normal text-truncate">{{ comprovante.comBeneficiario }}</span></td>
                    <td><a *ngIf="comprovante.arquivo" (click)="downloadComprovante(comprovante)" target="_blank" >
                        <span class="font-weight-normal text-truncate text-info" ><u placement="top" ngbTooltip="Click para Visualizar documento">{{ comprovante.comDocumento }}</u></span>
                        <fa-icon icon="exclamation"  class="text-danger" *ngIf="!comprovante.processado" placement="top" ngbTooltip="Comprovante não processado"></fa-icon>
                            <fa-icon icon="check"  class="text-sucess" *ngIf="comprovante.processado" placement="top" ngbTooltip="Comprovante processado"></fa-icon>                        
                    </a>
                    <span *ngIf="!comprovante.arquivo">{{ comprovante.comDocumento }}</span>
                </td>
                    <td>{{ comprovante.comDatavencimento | date:'dd/MM/yyyy' }}</td>
                    <td>{{ comprovante.comDatapagamento | date:'dd/MM/yyyy' }}</td>
                    <td><span class="text-info">{{ comprovante.comValordocumento | currency:"BRL"}}</span></td>
                    <td><span class="text-info">{{ comprovante.comValorpagamento| currency:"BRL" }}</span></td>
                    <td><span class="font-weight-normal text-truncate" placement="left" ngbTooltip="{{comprovante.comObservacao}}">{{ comprovante.comObservacao }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="comprovantes && comprovantes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
</div>