<nav class="navbar navbar-expand-lg bg-secondary justify-content-end border border-secondary">
    <form class="form-inline" action="">
        <div class="form-group hidden">
            <div class="input-group">
              <input name="datepicker"
                     class="form-control"
                     ngbDatepicker
                     #datepicker="ngbDatepicker"
                     (dateSelect)="onDateSelection($event)"
                     [autoClose]="'outside'"
                     [displayMonths]="2"
                     [dayTemplate]="t"
                     outsideDays="hidden"
                     [startDate]="fromDate!">
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input #dpFromDate
                     class="form-control" placeholder="dd-mm-yyyy"
                     name="dpFromDate"                    
                     [value]="formatter.format(fromDate)"
                     (input)="fromDate = validateInput(fromDate, dpFromDate.value)">              
            </div>
          </div>
          <div class="form-group ml-2">
            <div class="input-group">
              <input #dpToDate
                     class="form-control" placeholder="dd-mm-yyyy"
                     name="dpToDate"
                     [value]="formatter.format(toDate)"
                     (input)="toDate = validateInput(toDate, dpToDate.value)">
              <div class="input-group-append">
                <button class="btn btn-primary form-control mr-sm-2 calendar" (click)="datepicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        
        <label for="field_agencia" >Agência bancária</label>:
        <select id="field_agencia" [(ngModel)]="agenciaSelected" class="form-control mr-sm-2" name="field_agencia"
            (change)="onChangeAgencia()">
            <option *ngFor="let agencia of parceiro?.agenciabancarias" [ngValue]="agencia">
                {{ agencia.ageNumero + ' - ' + agencia.ageAgencia }}
            </option>
        </select>
        <button class="btn btn-primary form-control mr-sm-2" (click)="upload()" > 
            <fa-icon icon="cloud-upload-alt"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.upload"></span>
        </button>
    </form>
</nav>


    <div class="table-responsive" id="entities">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="ageCodigo"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.age_codigo">Age Codigo</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comBeneficiario"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_beneficiario">Com Beneficiario</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comDocumento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_documento">Com Documento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comDatavencimento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_datavencimento">Com Datavencimento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comDatapagamento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_datapagamento">Com Datapagamento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comValordocumento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_valordocumento">Com Valordocumento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comValorpagamento"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_valorpagamento">Com Valorpagamento</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="comObservacao"><span
                            jhiTranslate="mrcontadorFrontApp.comprovante.com_observacao">Com Observacao</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="comprovantes?.length === 0">
                    <th colspan="11">
                        <div class="alert alert-warning" id="no-result">
                            <span jhiTranslate="mrcontadorFrontApp.comprovante.home.notFound">No comprovantes
                                found</span>
                        </div>
                    </th>
                </tr>
                <tr *ngFor="let comprovante of comprovantes ;trackBy: trackId">
                    <td>{{ comprovante?.agenciabancaria?.ageDescricao}}</td>
                    <td>{{ comprovante.comBeneficiario }}</td>
                    <td><a [href]="comprovante?.arquivo?.s3Url" target="_blank">{{ comprovante.comDocumento }}</a></td>
                    <td>{{ comprovante.comDatavencimento | date:'dd/MM/yyyy' }}</td>
                    <td>{{ comprovante.comDatapagamento | date:'dd/MM/yyyy' }}</td>
                    <td><span class="text-info">{{ comprovante.comValordocumento | currency:"BRL"}}</span></td>
                    <td><span class="text-info">{{ comprovante.comValorpagamento| currency:"BRL" }}</span></td>
                    <td>{{ comprovante.comObservacao }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="comprovantes && comprovantes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
